
body {
    background-color: #d0ded359;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh; /* Certifique-se de que o corpo ocupa a altura total da tela */
}


.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
}

#score {
    margin-top: 10px;
    font-size: 18px;
}


.btn-close {
    position: absolute; /* Mantém o botão posicionado em relação ao elemento pai */
    top: 100px; /* Ajuste este valor para mover mais para baixo */
    right: 30px; /* Mantém o botão no canto superior direito */
}


/* Botão iniciar */
.botaoiniciar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #95d8a3;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
.botaoiniciar:hover{
    background-color: #648468;
    color:white;
}

/* Container principal do jogo */
.game-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; /* Centraliza horizontalmente */
    margin-top: 50px; /* Aumenta a margem superior para deslocar para baixo */
}

/* Estilo dos controles do jogo (dificuldade, quantidade) */
.controls label {
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}


/* Container das perguntas (escondido no início) */
.question-container {
    display: none;
}

/* Estilo das perguntas */
.question {
    font-weight: 900;
    font-size: 30px;
    color: #94c4a6;
    margin-bottom: 15px;
}

/* Campo de entrada da resposta */
.answer {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}

/* Botão enviar resposta */
.submit-answer {
    padding: 8px 16px;
    background-color: #b5dfbe;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

    .submit-answer:hover {
        background-color: #a2d4a9;
    }

/* Estilo do contador de acertos, movimentos, e timer */
.correct-count, .moves, .timer, .remaining-questions {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    font-size: 20px;
}

/* Estilo da mensagem de vitória */
.win {
    margin-top: 20px;
    font-size: 18px;
    color: #28a745;
}

/* Estilo geral para botões */
.btn {
    font-size: 16px;
    cursor: pointer;
}


.botaoreiniciar {
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 200px;
    background-color: #F1B408
}

.dificuldade {
    color: #94c4a6;
}

.perguntas {
    color: #94c4a6;
}