html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



/***TESTE****/

/* Altera a cor de fundo dos itens da navbar quando ativos ou focados */
.navbar-nav .dropdown-item.active,
.navbar-nav .dropdown-item:focus {
    background-color: transparent; /* Remove a cor de fundo ao passar o mouse */
    color: black; /* Cor do texto */
}

/* Altera a cor ao passar o mouse */
.navbar-nav .dropdown-item:hover {
    background-color: transparent; /* Remove a cor de fundo ao passar o mouse */
    color: black; /* Cor do texto ao passar o mouse */
}



/**************/





.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



html {
    position: relative;
    min-height: 100%;
}



.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Faz com que a altura do container ocupe toda a tela */
}
/*****************************FOOTER***********************************/
.containernav {
    z-index: 1;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************************************************/
/**************************HOME**************************************/

.homebeelearning {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.imagemlogo {
    display: flex;
}

.alinhahome1 {
    display: flex;
    justify-content: space-between; /* Coloca a imagem à esquerda e o h1 à direita */
    align-items: center; /* Alinha verticalmente no centro */
    width: 100%; /* Garante que a div ocupe toda a largura */
}

.teste1 {
    margin-left: 20px; /* Opcional: Adiciona um espaço entre a imagem e o h1 */
}

.linha {
    background-color: black;
    height: 0.5px;
    width: 100%;
    margin: 0px 0px 20px 0px
}

.embaixo1 {
    display: flex;
    flex-direction: column; /* Para empilhar os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 30px; /* Espaçamento entre os botões */
    height: 70vh; /* Faz o container ocupar toda a altura da tela (opcional) */
    justify-content: center; /* Centraliza verticalmente na tela (opcional) */
    margin-bottom: 80px;
}

.embaixo2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/************************CARROCEL HOME***************************/

#carouselExample {
    width: 60%;
    margin: 0px auto;
    margin-top: 150px;
}

    #carouselExample img {
        height: 300px;
    }

.organizadiv1 {
    padding-top: 120px;
    padding-bottom: 100px;
    margin-top: 400px;
    width: 100%;
    background-color: #FFF4AB;
}


.image-container {
    position: relative;
    text-align: center; /* Centraliza a imagem horizontalmente */
    overflow: visible;
}

    .image-container img {
        width: 500px; /* Ajuste a largura conforme necessário */
        max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
    }



/*******************************ESTUDANTES HOME**********************************/
.imagem-container2 {
    margin-bottom: 90px;
    display: flex; /* Faz as imagens ficarem lado a lado */
    justify-content: center;
    margin-top: 200px;
    gap: 110px;
}

    .imagem-container2 img {
        width: 200px; /* Tamanho das imagens, você pode ajustar */
        margin-right: 10px; /* Espaço entre as imagens */
    }

    .imagem-container2 .item {
        text-align: center; /* Centraliza o texto dentro de cada contêiner */
    }



/**********************************FOTOS3 HOME******************************/
.imagem-container4 {
    display: flex; /* Faz as imagens ficarem lado a lado */
    justify-content: center;
    margin-top: 200px;
    gap: 100px;
}
/***************************************************/





/*Matérias*/

.text-container p {
    margin: 0; /* Remove margens padrões */
    padding: 0;
}

    .text-container p + p {
        margin-top: 0px; /* Define um espaçamento entre os parágrafos */
    }








.alinhaportugues1 {
    display: flex;
    justify-content: space-between; /* Coloca a imagem à esquerda e o h1 à direita */
    align-items: center; /* Alinha verticalmente no centro */
    width: 100%; /* Garante que a div ocupe toda a largura */
}
/*********************************************************************/





















/*********************************************************************/
/*********************************************************************/
/**********************QUEM SOMOS*****************************/
.alinhaquem1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.imagemquem {
    display: flex; /* Faz as imagens ficarem lado a lado */
    justify-content: center;
    margin-top: 200px;
    margin: 200px;
    gap: 50px;
    margin-bottom: 200px;
}

/*********************************************************************/
























/****************************************************************/
/****************************************************************/
/*BEEFLIX*/


.Beeflix {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black; /* Cor desejada */
}


.alinhaflix2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100%;
}

.alinhaflix1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
}

.alinhaflix2 {
    margin-top: 60px;
}





div.cardflix {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

img.imgflix {
    max-width: 100%;
    width: 300px;
    height: auto;
}

div.titleflix {
    text-align: center;
}

.buttonflix {
    text-align: center;
    background-color: #ffba00;
    border: none;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

iframe {
    width: 98%;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}



/****************************BEEFLIX************************************/
/********************BOTÃO PESQUISAR************************/

.search-container {
    text-align: center; /* Centraliza a barra de pesquisa */
    margin-top: 100px;
}

.search-input {
    justify-content: center;
    background-color: white;
    padding: 10px; /* Espaçamento interno */
    width: 600px; /* Largura da barra de pesquisa */
    border: 5px solid #FFBA00; /* Cor da borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
}

.search-button {
    padding: 10px 15px; /* Espaçamento interno do botão */
    background-color: #FFBA00; /* Cor de fundo do botão */
    border: none; /* Remove borda padrão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte do botão */
    margin-left: 5px; /* Espaço entre a barra de pesquisa e o botão */
}

/**************************************************************/














/****************************************************************/
/****************************************************************/
/***************************REDAÇÃO******************************/




/*BOTÃO ACORDEÃO DA REDAÇÃO*/
.wrapper {
    background-color: #ffc30075;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin: 90px; /* Margem externa */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

/*BOTÃO SELECIONAR DA REDAÇÃO*/
.selectredacao {
    display: flex;
    justify-content: center; /* Centraliza o select */
    margin: 200px; /* Margem para evitar que fique colado nas bordas */
    background-color: #ffc30075;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 25px; /* Espaçamento interno */
    box-shadow: 0px 6px 5px #2e2d2d; /* Sombra opcional */
    margin-top: 80px;
}


.BEEREDACAO {
    margin-bottom: 150px;
    background-image: url('../img/mel img.jpg'); /* Substitua pela URL da sua imagem */
    background-size: cover; /* Para cobrir toda a área da tela */
    background-position: center; /* Para centralizar a imagem */
    color: #ffffff; /* Cor padrão do texto para melhor visibilidade */
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff4d4; /* Cor desejada */
}



.containerredacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px; /* largura desejada */
    margin: 20px auto; /* centralizar na página */
}

#redacao {
    width: 100%;
    margin-bottom: 10px;
}

#avaliarBtn {
    border: 3px solid #d4953b;
    background-color: #ffba00;
    color: azure;
    border-radius: 15px;
    padding: 10px 20px; /* aumentar o tamanho do botão */
    font-size: 16px; /* aumentar a fonte do botão */
    margin-right: 10px; /* espaço entre o botão e o resultado */
    margin-bottom: 20px;
}

#resultado {
    font-weight: bold;
    font-size: 20px;
    display: inline-block; /* faz com que o resultado fique ao lado do botão */
    vertical-align: top; /* alinha o resultado ao topo do botão */
}

#erroTema {
    color: red;
    font-size: 16px;
}

/*********************************************/




















/****************************************************************/
/****************************************************************/
/*************************MAPA MENTAL******************************/

.linha1 {
    background-color: black;
    height: 0.5px;
    width: 100%;
    margin: 100px 0px 0px 0px;
}


.cardmapas {
    width: 280px;
    height: 320px;
    margin: 20px;
}

.mapas {
    width: 100%;
}

.alinhamapas.btn-group {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

.buttonmapas {
    text-align: center;
    background-color: #ffba00;
    border: none;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}

.textomapas {
    font-size: 50px;
    font-weight: 900;
    color: #FFBA00;
    margin-top: 150px;
    text-align: center;
}

.bodymapa {
    margin-bottom: 150px;
}


.alinhamapa1 {
    display: flex;
    justify-content: space-between; /* Coloca a imagem à esquerda e o h1 à direita */
    align-items: center; /* Alinha verticalmente no centro */
    width: 100%; /* Garante que a div ocupe toda a largura */
}



.mapa {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o footer fique no fundo */
    margin: 0;
}
/**********************************************************************************/





















/**********************************************************************************/
/**********************************************************************************/
/***********************************MATÉRIAS***************************************/
.materia {
    display: flex;
    height: 100%;
    margin-bottom: 200px;
    margin-top: 100px;
}


/**************************************************************************************/
















/*******************************************************************************************/
/*******************************************************************************************/
/******************************************JOGOS********************************************/


.Beegamesbody {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #fffbe9;
}

.gamesdiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 300px
}


.gamesdiv2 {
    text-align: center;
    display: flex;
    gap: 10px;
}
.gamesdiv3 {
    text-align: center;
    display: flex;
    gap: 10px;
}





/* Adicione ao final do seu CSS existente */

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

    button:hover {
        background-color: #218838; /* Verde escuro */
    }



















/*******************************************************************************************/
/********************************************************************************************/
/********************************************************************************************/
/**************************************VESTIBULARES******************************************/
.ves {
    width: 80px;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.ves1 {
    color: black;
}

.alinhaves1 {
    display: flex;
    justify-content: space-between; /* Coloca a imagem à esquerda e o h1 à direita */
    align-items: center; /* Alinha verticalmente no centro */
    width: 100%; /* Garante que a div ocupe toda a largura */
}
