@{
    ViewData["Title"] = "BIOLOGIA";
}
<div class="materia" style="margin-bottom:200px; margin-top:50px;">
    @* ////////////// Introdução a biologia //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">BIOLOGIA-INTRODUÇÃO</h1>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:20px 100px 0px 100px">
            Biologia é a ciência que estuda a vida e os organismos vivos. Ela investiga a estrutura,
            função, crescimento, origem, evolução e distribuição de seres vivos, abrangendo desde microorganismos até plantas e animais,
            incluindo os seres humanos. E temos algumas materias principais dentro da biologia.
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:80px 0px 0px 250px;">
            Exemplos:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Zoologia – estudo dos animais.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Botânica – estudo das plantas.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Ecologia – estudo das relações estabelecidas entre os seres vivos e destes com o meio ambiente
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Genética – estudo dos genes e hereditariedade.
            </li>
        </ul>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:20px 400px 0px 400px">
            Os biólogos utilizam conhecimentos de química, física e matemática para entender como os organismos funcionam,
            se adaptam ao ambiente e interagem uns com os outros. A biologia é fundamental para áreas como medicina,
            agricultura, preservação ambiental e biotecnologia
        </h4>


        @* ////////////// ZOOLOGIA //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">ZOOLOGIA</h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
            Zoologia é o ramo da biologia que estuda os animais, abordando aspectos como sua estrutura,
            fisiologia, comportamento, ecologia, evolução e classificação. Os zoologistas investigam os processos biológicos dos animais,
            desde os mais simples, como os invertebrados, até os mais complexos, como os mamíferos.
            A zoologia é dividida em várias subdisciplinas, como:
        </h4>
        <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 880px 0px 0px">
            Exemplo:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Morfologia Animal: Estudo da forma e estrutura dos animais, analisando desde as características externas até os órgãos internos. Isso inclui a anatomia comparada entre diferentes espécies.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Fisiologia Animal: Explora como os processos biológicos, como respiração, circulação e digestão, funcionam nos diferentes grupos de animais, e como esses processos variam entre eles.
            </li>

            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Taxonomia e Sistemática: Classifica os animais em grupos hierárquicos (reino, filo, classe, ordem, família, gênero e espécie), com base em suas características físicas e genéticas. Ajuda a organizar a vasta diversidade animal em categorias relacionadas.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Ecologia Animal: Examina como os animais interagem com seu ambiente e com outras espécies, incluindo seus papéis nos ecossistemas e as adaptações às diferentes condições ambientais.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Comportamento Animal (Etologia): Investiga como os animais se comportam em seus habitats naturais, incluindo padrões de reprodução, alimentação, migração e socialização.
            </li>
        </ul>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:20px 400px 0px 400px">
            O estudo da zoologia é essencial para a conservação de espécies, desenvolvimento de técnicas de manejo de animais,
            compreensão da biodiversidade e aplicação de conhecimentos em áreas como veterinária,
            biotecnologia e ciências ambientais.
        </h4>

        @* ////////////// BOTANICA //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
            BÔTANICA
        </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
            A botânica é o ramo da biologia que estuda as plantas, suas estruturas, funções, reprodução, evolução e suas interações com o ambiente. A disciplina abrange uma grande variedade de organismos, desde algas e musgos até árvores e plantas com flores. Como as plantas são fundamentais para a vida na Terra, fornecendo oxigênio e sendo a base das cadeias alimentares, a botânica desempenha um papel essencial no entendimento dos ecossistemas e na preservação ambiental.
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 250px;">
            Principais Áreas da Botânica:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Morfologia Vegetal: Estudo das formas e estruturas das plantas, como raízes, caules, folhas, flores e frutos, e como essas partes se desenvolvem e funcionam.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Fisiologia Vegetal: Investiga como as plantas realizam processos essenciais, como fotossíntese (conversão de luz solar em energia), respiração e absorção de nutrientes.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Taxonomia Vegetal: Classificação e organização das plantas em grupos, com base em suas características e relações evolutivas. Esse campo permite a identificação e catalogação de novas espécies
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Ecologia Vegetal: Foca nas interações das plantas com o ambiente e com outros organismos, incluindo suas adaptações a diferentes habitats e seu papel nos ecossistemas.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Genética Vegetal: Explora como as características das plantas são herdadas e como a reprodução (sexual e assexual) contribui para a diversidade das espécies.
            </li>
        </ul>

        @* ////////////// ECOLOGIA //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
            ECOLOGIA
        </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
            A ecologia é o ramo da biologia que estuda as interações dos organismos vivos com o ambiente e entre si. Ela investiga como os seres vivos, incluindo plantas, animais, fungos e microrganismos, interagem com o meio físico (solo, água, ar) e com outros organismos, formando complexos sistemas conhecidos como ecossistemas. Esses estudos são essenciais para compreender a biodiversidade, as cadeias alimentares, os ciclos de nutrientes e a influência das atividades humanas nos ambientes naturais.
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 250px;">
            Principais Áreas da Ecologia:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Conceitos Básicos de Ecologia
                Definições de ecologia, ecossistema, bioma e habitat.
                Relações ecológicas: predatismo, competição, mutualismo, parasitismo e comensalismo.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Estrutura e Dinâmica dos Ecossistemas
                Componentes bióticos (seres vivos) e abióticos (fatores não vivos) de um ecossistema.
                Fluxo de energia e cadeias alimentares: produtores, consumidores e decompositores.
                Teias alimentares e pirâmides ecológicas (pirâmide de energia, biomassa e número).
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Ciclos Biogeoquímicos
                Ciclo do carbono, ciclo do nitrogênio e ciclo da água.
                Importância dos ciclos para a manutenção da vida e dos ecossistemas.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Biodiversidade
                Conceito de biodiversidade e sua importância.
                Fatores que ameaçam a biodiversidade (desmatamento, poluição, mudanças climáticas).
                Conservação da biodiversidade e estratégias de preservação.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Ecologia Populacional
                Conceitos de população, densidade populacional e fatores que influenciam o crescimento populacional.
                Curvas de crescimento populacional (logística e exponencial).
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Interações entre Organismos e Ambiente
                Adaptações comportamentais e fisiológicas dos organismos ao ambiente.
                Efeitos das atividades humanas sobre os ecossistemas, como a poluição e o aquecimento global.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Sustentabilidade e Desenvolvimento Sustentável
                Conceitos de desenvolvimento sustentável e sua relação com a ecologia.
                Práticas sustentáveis na agricultura, uso de recursos naturais e conservação ambiental.
            </li>
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Impactos Ambientais e Ecologia Humana
                Efeitos da urbanização e industrialização sobre o meio ambiente.
                Problemas ecológicos contemporâneos, como o desmatamento da Amazônia, extinção de espécies e poluição.
            </li>
        </ul>
        @* ////////////// GENETICA //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">GENETICA</h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">

            A Genética é a ciência que estuda a hereditariedade e a variação das características entre os organismos, sendo essencial para entender como os traços são transmitidos de uma geração para outra. Gregor Mendel, com seus estudos sobre ervilhas, estabeleceu as bases da genética moderna, identificando os princípios da segregação e da segregação independente, que explicam a transmissão de características através de "fatores" (hoje conhecidos como genes).
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 250px;">
            Materias dentro da genetica:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Estrutura e Função do DNA:

                DNA (ácido desoxirribonucleico) como material genético.
                Estrutura de dupla hélice do DNA.
                Função dos genes no armazenamento de informações biológicas.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Cromossomos e Hereditariedade:

                Organização do DNA em cromossomos.
                Células somáticas e gametas.
                Herança de características dos pais para os filhos.
            </li>

            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Leis de Mendel:

                Lei da Segregação.
                Lei da Distribuição Independente.
                Herança dominante e recessiva.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Mutação Genética:

                Tipos de mutações (pontuais, inserções, deleções).
                Efeitos das mutações na variação genética e doenças.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Genética Humana:

                Estudo de doenças hereditárias.
                Padrões de herança em humanos.
                Genômica e medicina personalizada.
            </li>
        </ul>


        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">CONCLUSÃO </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 100px 0px 100px">
            A genética é uma ciência dinâmica e em rápida evolução, com implicações profundas em diversas áreas. Desde a compreensão dos princípios básicos da hereditariedade até o desenvolvimento de terapias avançadas para doenças genéticas, o impacto da genética na sociedade é vasto. À medida que novas tecnologias emergem, a genética continuará a desempenhar um papel central na inovação científica e na melhoria da qualidade de vida.
        </h4>
    </div>
</div>