<div class="materia">

    <div class="alinhaportugues1 btn-group">
        <img class="imgbelha" src="~/Img/filosofial.png" alt="..." Width="100%" Height="auto">
    </div>

    @* ////////////// Introdução filosofia //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px; ">SOBRE FILOSOFIA</h1>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin-top:20px;">
            A filosofia, ao longo dos séculos, tem sido uma disciplina dedicada ao estudo das questões fundamentais da existência, da realidade, do conhecimento e da moralidade. Sua origem remonta à Grécia Antiga, onde pensadores como Sócrates, Platão e Aristóteles estabeleceram as bases do pensamento filosófico ocidental
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 250px;">
            A filosofia é dividida em várias áreas principais:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Metafísica: O estudo da realidade e da existência. Metafísicos questionam o que é real, quais são os elementos fundamentais do universo e qual é a natureza do ser.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Epistemologia: O estudo do conhecimento. Essa área filosófica explora o que significa saber algo, como adquirimos conhecimento e se há limites para o que podemos conhecer.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Ética: O estudo da moralidade e da conduta humana. Os filósofos éticos questionam o que é certo ou errado e quais princípios devem guiar as ações humanas.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Lógica: O estudo das regras do raciocínio. A lógica filosófica investiga como argumentos são construídos e como podemos distinguir bons argumentos de falácias.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Filosofia Existencial:
                Na filosofia contemporânea, temas como o existencialismo,
                o pragmatismo e o pós-modernismo se destacam. O existencialismo,
                representado por filósofos como Jean-Paul Sartre e Simone de Beauvoir,
                explora questões sobre liberdade, autenticidade e a condição humana.
                O pragmatismo, com figuras como John Dewey e William James, enfatiza
                a utilidade prática das ideias filosóficas e a relevância da experiência
                humana no desenvolvimento de teorias. O pós-modernismo desafia a ideia de
                verdades universais e destaca o papel da linguagem, poder e cultura na
                formação de nossa compreensão do mundo.

            </li>
        </ul>

        @* ////////////// A IMPORTANCIA DA SOCIOLOGIA //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">A IMPORTÂNCIA DA SOCIOLOGIA </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
            Importância da Filosofia Embora muitas vezes considerada abstrata, a filosofia tem um impacto profundo em diversas áreas, como a ciência, o direito e a política. Ela fornece as ferramentas para questionar pressupostos, analisar problemas complexos e pensar criticamente sobre as implicações de nossas crenças e ações.
        </h4>

        @* ////////////// CONCLUSÃO //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">CONCLUSÃO </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
            A filosofia continua sendo uma força vital na busca humana por sabedoria. Ela nos desafia a explorar questões profundas, a examinar nossas próprias vidas e a buscar uma compreensão mais profunda do mundo que nos rodeia. Ao questionar o status quo e propor novas formas de pensar, a filosofia contribui para o progresso intelectual e ético da humanidade.
        </h4>

        </ul>
    </div>
</body>