<div class="materia" style="margin-bottom:200px; margin-top:100px;">

    @* ////////////// Introdução geografia //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; text-align:center; ">SOBRE GEOGRAFIA</h1>

        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:10px 120px 0px 150px;">
            A geografia é uma ciência que estuda a relação entre os seres humanos e o espaço geográfico. Com uma abordagem multidisciplinar, essa disciplina busca entender como as características físicas da Terra interagem com as atividades humanas e como isso, por sua vez, molda a sociedade e o meio ambiente.
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 250px;">
            Ramos da Geografia:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:30px 400px 0px 0px">
                Geografia Física: Esta vertente analisa os elementos naturais da Terra, como relevo, clima, vegetação, solos e hidrografia. Os geógrafos físicos estudam os processos naturais e suas interações, como a erosão, os ciclos da água e as mudanças climáticas, para entender a dinâmica do planeta.
            </li>
            <li style="font-weight:400; margin:30px 200px 0px 0px">
                Geografia Humana: Foca nas atividades humanas e suas interações com o espaço geográfico. Essa área estuda temas como urbanização, migrações, sistemas de transporte, distribuição de recursos e questões sociais. A geografia humana investiga como a cultura, a política e a economia influenciam a organização do espaço e a qualidade de vida das populações.
            </li>
            <li style="font-weight:400; margin:30px 200px 0px 0px">
                Cartografia: A arte e ciência de criar mapas. A cartografia é essencial para representar informações geográficas e facilitar a compreensão do espaço.
            </li>
            <li style="font-weight:400; margin:30px 200px 0px 0px">
                Geoprocessamento: O uso de tecnologias como Sistemas de Informação Geográfica (SIG) e imagens de satélite para analisar e visualizar dados espaciais. Essas ferramentas permitem a modelagem de fenômenos e a tomada de decisões informadas sobre o uso do solo, planejamento urbano e gestão ambiental.
            </li>
            <li style="font-weight:400; margin:30px 200px 0px 0px">
                Pesquisa de Campo: O trabalho de campo é fundamental para a coleta de dados qualitativos e quantitativos. Geógrafos frequentemente realizam observações diretas, entrevistas e questionários para compreender melhor a realidade local.
            </li>
        </ul>

        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin-top: 100px;">O PAPEL DA GEOGRAFIA </h1>

        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:40px 100px 0px 100px">
            A geografia desempenha um papel crucial na análise de problemas globais, como mudanças climáticas, desigualdades sociais, conflitos territoriais e sustentabilidade. Com a crescente urbanização e a globalização, os geógrafos são desafiados a entender e propor soluções para as questões que afetam o meio ambiente e as sociedades contemporâneas.
            Por exemplo, o estudo das cidades e da urbanização permite entender fenômenos como o crescimento das megacidades, a mobilidade urbana e os impactos da poluição. A geografia também ajuda a explorar como as comunidades podem se adaptar às mudanças climáticas, promovendo práticas de desenvolvimento sustentável.
        </h4>

        @* ////////////// A IMPORTANCIA DA SOCIOLOGIA //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">A IMPORTANCIA DA GEOGRAFIA </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 100px 0px 100px">
            A educação geográfica é fundamental para promover a cidadania e a consciência ambiental. Ao ensinar sobre a diversidade cultural, os recursos naturais e as interações entre humanos e o meio ambiente, a geografia ajuda os alunos a desenvolver uma compreensão crítica do mundo ao seu redor. Isso os capacita a tomar decisões informadas sobre questões sociais, políticas e ambientais, promovendo uma sociedade mais consciente e responsável.
        </h4>

        @* ////////////// CONCLUSÃO //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">CONCLUSÃO </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 100px 0px 100px">
            A geografia é uma disciplina essencial para entender a complexidade das interações entre os seres humanos e o espaço geográfico. Com suas múltiplas abordagens e ferramentas, a geografia fornece insights valiosos sobre os desafios contemporâneos e a busca por soluções sustentáveis. Em um mundo cada vez mais interconectado, a compreensão geográfica se torna uma habilidade indispensável para enfrentar os problemas globais e contribuir para um futuro mais equilibrado e sustentável.
        </h4>
    </div>
</div>