@{
    ViewData["Title"] = "LINGUAGENS";
}
<div class="materia" style="margin-bottom:200px; margin-top:100px;">
    @* ////////////// Introdução //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px; ">INTRODUÇÃO A LINGUAGENS </h1>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin-top:20px;">
            A prova de Linguagens no ENEM contém 45 questões de múltipla escolha e é integrada por diversas disciplinas que se relacionam com o uso da linguagem em suas diferentes formas e contextos. Abaixo estão os principais temas abordados:
            A área de Linguagens, Códigos e suas Tecnologias no Exame Nacional do Ensino Médio (ENEM) é composta por questões que avaliam a capacidade do aluno de interpretar e compreender textos em diferentes linguagens e contextos. Essa área inclui questões de língua portuguesa, língua estrangeira (inglês ou espanhol), literatura, artes, educação física e tecnologias da informação e comunicação (TICs).
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 250px;">
            Linguagens no enem  :
        </h4>

        <dl style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Interpretação de Textos:
            </dt>
            <dd>
                A habilidade de interpretação é o foco principal da prova de Linguagens. Os textos podem ser de diversos gêneros, como literários (poemas, contos, crônicas), não literários (artigos, reportagens, propagandas), e multimodais (textos que combinam imagem e escrita, como tirinhas e charges).
                Além de identificar a ideia principal de um texto, o candidato deve inferir significados, interpretar intenções e reconhecer ironias e críticas implícitas.
            </dd>
            <br>
            <dt style="font-weight:400; margin:14px 200px 0px 0px">
                Literatura:
            </dt>
            <dd>
                A prova inclui questões relacionadas a movimentos literários brasileiros, como o Modernismo, Romantismo, Realismo, entre outros.
                Questões de literatura também podem explorar a análise de características estilísticas de autores clássicos e contemporâneos.
            </dd>
            <br>
            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Gramática e Norma Culta:
            </dt>
            Embora o ENEM não foque diretamente em gramática de forma isolada, o conhecimento gramatical é exigido em situações de uso. Questões podem abordar aspectos como coesão, coerência, regência verbal e nominal, concordância, uso de pronomes e pontuação.
            A norma culta é avaliada, mas há também uma ênfase em variações linguísticas (regionais, sociais e históricas), destacando a diversidade do português falado no Brasil.
            <br>
            <br>
            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Artes e Educação Física:
            </dt>
            As questões de arte podem tratar de diferentes manifestações artísticas, como pintura, escultura, teatro, cinema, e música, exigindo que o candidato reconheça movimentos artísticos, obras importantes e seus contextos históricos.
            Em Educação Física, o foco está na importância do esporte e da atividade física para a saúde e o bem-estar, além de questões sobre jogos, lutas, e esportes populares no Brasil.
            <br>
            <br>
            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Língua Estrangeira:
            </dt>
            O candidato deve escolher entre inglês ou espanhol para responder às questões de língua estrangeira, que focam principalmente na interpretação de textos curtos (anúncios, notícias, diálogos). Não se trata de um teste gramatical, mas sim de compreensão de leitura.
        </dl>
        <br>

        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">CONCLUSÃO </h1>

        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:50px 100px 0px 100px">
            A prova de Linguagens do ENEM não se limita a avaliar o conhecimento técnico da língua portuguesa ou estrangeira, mas também mede a capacidade do candidato de lidar com os diversos códigos e formas de linguagem que permeiam o mundo contemporâneo. Assim, o sucesso nessa prova requer não apenas estudo teórico, mas também o desenvolvimento de uma leitura crítica e abrangente das múltiplas formas de expressão humana.
        </h4>

    </div>
</div>
