<div class="materia">


    <div class="alinhaportugues1 btn-group">
        <img class="imgbelha" src="~/Img/matematical.png" alt="..." Width="100%" Height="auto">
    </div>


    @* ////////////// Introdução //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px; ">INTRODUÇÃO A MATEMATICA</h1>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin-top:20px;">
            A matemática é uma das disciplinas fundamentais na formação educacional dos estudantes e desempenha um papel crucial no Exame Nacional do Ensino Médio (ENEM). Essa prova não apenas avalia conhecimentos matemáticos, mas também desenvolve habilidades analíticas e de resolução de problemas, essenciais para a vida cotidiana e para diversas carreiras acadêmicas e profissionais.
        </h4>
        <h4 style="font-weight:600; font-size: 40px; text-align:center; margin-top:20px;">
            Matematica e Enem :
        </h4>

        <dl style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Números e Operações:
            </dt>
            <dd>
                Operações com números inteiros e racionais: Adição, subtração, multiplicação, divisão, potências e raízes.
                <li>Frações e decimais:</li>
                Conversão entre frações, números decimais e porcentagens.
                <li> Razão e proporção:</li>
                Relações entre grandezas e aplicação em problemas do cotidiano, como escalas de mapas, receitas e aumentos percentuais.
                <li> Porcentagem:</li>
                Muito presente no ENEM, usado em situações práticas como aumentos/descontos de preços, lucro, juros simples e compostos.
            </dd>
            <br>
            <dt style="font-weight:400; margin:14px 200px 0px 0px">
                Funções (Afim, Quadrática, Exponencial):
            </dt>
            <dd>
                Funções são relações entre duas variáveis e são fundamentais para a interpretação de gráficos e resolução de problemas. As mais comuns no ENEM são:
                <li>Função Afim (Linear):</li>
                A função afim é da forma
                f(X) = ax + b são constantes.
                Seu gráfico é uma reta, e é usada em problemas que envolvem crescimento ou decrescimento linear.
                <br>
                Exemplo: Cálculo de lucro ou custo total em função da quantidade de produtos vendidos.
                <li>Função Quadrática:</li>
                Representada pela fórmula f(x)= a² + bx + c, seu gráfico é uma parábola. É usada em problemas que envolvem trajetórias, máximos e mínimos, como o movimento de objetos ou cálculo de área máxima.
                <br>
                Exemplo: Determinar o ponto mais alto (máximo) ou mais baixo (mínimo) em uma trajetória.
                <li>Função Exponencial:</li>
                Representada como
                f(X) = a . b^x, , onde b > 0. Esse tipo de função descreve processos de crescimento ou decrescimento acelerado, como crescimento populacional ou desintegração radioativa.
                <br>
                Exemplo: Crescimento de uma população ou cálculo de juros compostos.
                <br>
            </dd>

            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Geometria (Plana e Espacial)
            </dt>
            <li>Geometria é um dos tópicos mais cobrados, com questões que envolvem figuras geométricas, suas propriedades e medidas. Ela se divide em:
            <li />
            Geometria Plana: Estudo de figuras em duas dimensões, como quadrados, retângulos, triângulos e círculos. Os principais conceitos incluem área, perímetro e ângulos
            Exemplo: Calcular a área de um terreno ou a distância percorrida em uma volta circular.
            <li>Geometria Espacial: Estuda figuras tridimensionais, como cubos, prismas, cilindros, cones e esferas. As questões frequentemente envolvem cálculo de volume e área de superfície.</li>
            Exemplo: Determinar o volume de uma caixa ou a área total de um cilindro.

            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Análise de Gráficos e Tabelas:
            </dt>
            Essa área é fundamental para interpretar dados apresentados visualmente. O ENEM frequentemente apresenta gráficos e tabelas relacionados a temas como economia, demografia ou ecologia, exigindo que o aluno:
            <li>Interprete informações em gráficos de barras, linhas, setores (pizza) e tabelas.</li>
            <li>Analise taxas de variação (aumento ou diminuição de valores ao longo do tempo).</li>
            <li>Faça previsões ou estimativas com base em dados apresentados.</li>
            Exemplo: Avaliar o crescimento de uma empresa ao longo de alguns anos a partir de um gráfico de barras.



            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Probabilidade e Estatística
            </dt>
            Esses conceitos são essenciais para resolver problemas relacionados a incerteza e análise de dados. O ENEM costuma apresentar situações do dia a dia que envolvem esses conceitos, como sorteios, jogos e pesquisas.
            <li>
                Probabilidade: Mede a chance de ocorrer um determinado evento. A fórmula básica é probabilidade = numero favoravel/ numero total possivel
            </li>
            Exemplo: Calcular a probabilidade de tirar uma bola vermelha de uma urna com diferentes cores de bolas.
            <li>
                Estatística: Trata da coleta, organização e análise de dados. Os conceitos mais cobrados são:
            </li>

            <li>Média: Soma dos valores dividida pelo número de valores.</li>
            <li>Mediana: Valor central de um conjunto de dados ordenados. </li>
            <li>
                Moda: Valor que mais aparece em um conjunto de dados.
            </li>
            Exemplo: Determinar a média de notas de uma turma ou a mediana de alturas em uma pesquisa.

        </dl>

        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">CONCLUSÃO </h1>

        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:50px 100px 0px 100px">
            Esses temas são os pilares da matemática no ENEM, e estar familiarizado com eles é essencial para ter um bom desempenho. Eles são abordados de forma prática, muitas vezes contextualizados em situações do cotidiano, o que requer do estudante tanto compreensão teórica quanto capacidade de aplicação.
        </h4>
    </div>
</div>
