@{
    ViewData["Title"] = "Portugues";
}
<body class="materia">

    <div class="alinhaportugues1 btn-group">
        <img class="imgbelha" src="~/Img/linguagensl.png" alt="..." Width="100%" Height="auto">
    </div>

@* ////////////// GRAMÁTICA //////////////// *@
<div id="texto-lado2">


       



    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">GRAMÁTICA</h1>
    <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:20px 400px 0px 400px">
        A gramática é o sistema que organiza e regula a língua, e entender seus aspectos
        principais é essencial para uma comunicação clara e eficaz. Vamos explorar os conceitos
        fundamentais da gramática, cada um com exemplos práticos para facilitar o entendimento.
    </h4>


    @* ////////////// SEMÂNTICA //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">SEMÂNTICA</h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A semântica estuda o significado das palavras, frases e textos.
        Ela nos ajuda a interpretar o sentido das palavras dentro de um contexto específico.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 880px 0px 0px">
        Exemplo:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Significado denotativo: "O sol é uma estrela."
            (Significado literal.)
        </li>
        <li style="font-weight:400; margin:14px 200px 0px 0px">
            Significado conotativo: "Ele é um sol para a nossa família."
            (Significado figurado, que indica que a pessoa é muito importante.)
        </li>
    </ul>




    @* ////////////// INTERPRETAÇÃO //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        INTERPRETAÇÃO DE TEXTO
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        Interpretar um texto envolve entender não só o significado
        das palavras, mas também o contexto, a intenção do autor e
        as implicações subentendidas.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 600px 0px 0px">
        Dicas para interpretação:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Identifique a ideia principal: Qual é o ponto central do texto?
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Analise o contexto: Quais são as circunstâncias que influenciam o texto?
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Observe o tom e a intenção: O autor está sendo formal, informal, persuasivo ou crítico?
        </li>
    </ul>





    @* ////////////// MORFOLOGIA //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        MORFOLOGIA
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A morfologia estuda a estrutura das palavras e como elas são formadas a partir de morfemas.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 880px 0px 0px">
        Morfemas:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Radical: Parte principal da palavra que carrega o significado (ex: "amigo").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Prefixo: Morfema que precede o radical e altera seu sentido (ex: "desamigo").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Sufixo: Morfema que vem após o radical e pode alterar o sentido ou função da palavra (ex: "amigável").
        </li>
    </ul>





    @* ////////////// FORMAÇÃO DE PALAVRAS //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        FORMAÇÃO DE PALAVRAS
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A formação de palavras refere-se a como novas palavras são
        criadas a partir de outras palavras ou morfemas.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 700px 0px 0px">
        Processos de formação:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Derivação: Adição de prefixos e sufixos (ex: "escolar" → "escolaridade").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Composição: Junção de duas ou mais palavras (ex: "cabeça" + "dura" → "cabeça-dura").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Aglutinação: Fusão de palavras com perda de fonemas (ex: "planeta" + "ário" → "planetário").
        </li>
    </ul>




    @* ////////////// ANÁLISE SINTÁTICA //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        ANÁLISE SINTÁTICA
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A análise sintática examina a estrutura das frases, identificando as
        funções e relações dos elementos dentro delas.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 700px 0px 0px">
        Elementos principais:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Sujeito: Quem ou o que realiza a ação (ex: "O gato").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Predicado: O que se diz sobre o sujeito (ex: "comeu o peixe").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Complementos: Palavras ou frases que completam o
            sentido do verbo (ex: "o peixe" no exemplo acima).
        </li>
    </ul>




    @* ////////////// CONCORDÂNCIA //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        CONCORDÂNCIA
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A concordância trata da harmonia entre as palavras em uma frase, especialmente entre
        sujeito e verbo e entre substantivos e adjetivos.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 700px 0px 0px">
        Tipos de concordância:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Concordância verbal: O verbo deve concordar com o sujeito
            em número e pessoa (ex: "Os alunos estudam" vs. "O aluno estuda").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Concordância nominal: O adjetivo deve concordar com o substantivo
            em gênero e número (ex: "As casas bonitas" vs. "O carro bonito").
        </li>
    </ul>




    @* ////////////// REGÊNCIA //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        REGÊNCIA
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A regência é a relação entre verbos, nomes e seus complementos.
        A regência define quais preposições devem ser usadas com determinados verbos ou substantivos.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 700px 0px 0px">
        Exemplos de regência:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Verbo transitivo indireto: "Ele gosta de música."
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Substantivo regido por preposição: "A dependência de drogas."
        </li>
    </ul>



    @* ////////////// PONTUAÇÃO //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        PONTUAÇÃO
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A pontuação organiza o texto e facilita a compreensão. Cada sinal de pontuação tem uma função específica.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 530px 0px 0px">
        Principais sinais e suas funções:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Ponto final (.): Indica o fim de uma oração ou frase.
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Vírgula (,): Separa elementos dentro de uma oração ou frases.
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Ponto e vírgula (;): Separa orações ou partes de uma frase que já contêm vírgulas.
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Dois pontos (:): Introduzem uma explicação ou citação.
        </li>
    </ul>



    @* ////////////// FONOLOGIA //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        FONOLOGIA
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A fonologia estuda os sons da língua e como eles se organizam.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 700px 0px 0px">
        Aspectos principais:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Fonemas: Sons que diferenciam palavras (ex: /p/ em "pato" e /b/ em "bato").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Ortografia: Regras sobre como os fonemas são representados graficamente (ex: "c" em "cima" e "s" em "sismo").
        </li>
    </ul>



    @* ////////////// COLOCAÇÃO PRONOMINAL //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        COLOCAÇÃO PRONOMINAL
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A colocação pronominal trata da posição dos pronomes átonos (me, te, se, nos, vos) em relação ao verbo.
    </h4>
    <h4 style="font-weight:600; font-size: 40px; text-align:center; margin:20px 880px 0px 0px">
        Regras de colocação:
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Ênclise: Pronome após o verbo (ex: "Diga-me a verdade").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Mesóclise: Pronome no meio do verbo (ex: "Dir-se-á a verdade").
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Próclise: Pronome antes do verbo (ex: "Não me diga a verdade").
        </li>
    </ul>



    @* ////////////// VÍDEO AULA //////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        VÍDEO AULA
    </h1>





    @* ////////////// ARTES ////////////////// *@
    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        ARTES
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A arte é uma forma de expressão que usa diversos meios e técnicas para comunicar ideias, emoções e visões de mundo.
        Ela pode incluir pintura, escultura, arquitetura, literatura, música e performance. A arte não só enriquece a cultura,
        mas também serve como um meio de crítica social e um testemunho histórico.
    </h4>



    @* ////////////// ARTE NA ANTIGUIDADE ////////////////// *@

    <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">
        ARTE NA ANTIGUIDADE
    </h1>
    <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
        A arte na antiguidade compreende as produções artísticas das civilizações antigas,
        como a Egípcia, a Mesopotâmica, a Grega e a Romana.
    </h4>

    <ul style="font-size: 30px; font-weight:350; margin:50px 300px 0px 300px">
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Egípcia: Famosa por suas pinturas e esculturas que retratavam deuses e faraós,
            com uma estética rígida e formal que seguia normas de proporção e simetria.
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Mesopotâmica: Conhecida por suas esculturas em relevo e
            monumentos como o Zigurate e o Código de Hamurabi, refletindo a importância
            da religião e da lei.
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Grega: Destaca-se pela busca do ideal de beleza e proporção, evidenciada nas esculturas de mármore,
            como as de Fidias, e na arquitetura dos templos.
        </li>
        <li style="font-weight:400; margin:14px 400px 0px 0px">
            Romana: Influenciada pelos gregos, mas com ênfase na engenharia e na arquitetura,
            como o Coliseu e os aquedutos, além dos retratos realistas.
        </li>
    </ul>


    
</div>
</body>
