@{
    ViewData["Title"] = "QUIMICA";
}
<div class="materia">


    <div class="alinhaportugues1 btn-group">
        <img class="imgbelha" src="~/Img/quimical.png" alt="..." Width="100%" Height="auto">
    </div>


    @* ////////////// Introdução //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px; ">INTRODUÇÃO A QUIMICA</h1>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin-top:20px;">
            O Exame Nacional do Ensino Médio (ENEM) tem como objetivo avaliar as competências e habilidades dos estudantes em diversas áreas do conhecimento, incluindo a Química, que está inserida dentro da área de Ciências da Natureza e suas Tecnologias. A prova de Química no ENEM aborda uma gama de temas relacionados ao cotidiano, conectando os conceitos teóricos com aplicações práticas e problemas reais, seguindo uma abordagem contextualizada.
        </h4>
        <h4 style="font-weight:600; font-size: 40px; text-align:center; margin-top:20px;">
            Principais Temas de quimica no ENEM:
        </h4>

        <dl style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Química Geral:
            </dt>
            <dd>
                <li>Estrutura da matéria:</li>
                Estudo da composição e propriedades da matéria, incluindo átomos, moléculas e íons.
                <li> Reações químicas:</li>
                Processos em que substâncias se transformam em outras. Inclui balanceamento de equações e estequiometria.
                <li> Tabela Periódica:</li>
                Organização dos elementos químicos e suas propriedades periódicas, como eletronegatividade, raio atômico e energia de ionização.
                <li> Soluções:</li>
                Comportamento de substâncias dissolvidas, incluindo concentração, solubilidade e propriedades coligativas.
            </dd>
            <br>
            <dt style="font-weight:400; margin:14px 200px 0px 0px">
                Química Orgânica:
            </dt>
            <dd>
                <li>Compostos de carbono:</li>
                Estrutura, nomenclatura e reatividade de compostos orgânicos, como alcanos, alcenos, álcoois, ácidos carboxílicos, entre outros.
                <br>
                <li>Reações orgânicas:</li>
                Mecanismos de reações como substituição, adição, eliminação e oxirredução em compostos orgânicos.
                <br>
                <li>Biomoléculas:</li>
                Química de substâncias biológicas, como proteínas, carboidratos, lipídios e ácidos nucleicos.
                <br>



            </dd>
            <br>
            <dt style="font-weight:400; margin:14px 400px 0px 0px">
                Quimica organica importancia:
            </dt>
            A Química Orgânica tem grande relevância no ENEM (Exame Nacional do Ensino Médio), sendo um dos temas recorrentes nas questões da área de Ciências da Natureza. O foco do ENEM está em aplicar o conhecimento químico a situações cotidianas, o que faz da Química Orgânica uma área de destaque, já que muitos de seus compostos estão presentes no nosso dia a dia.
            Principais tópicos de Química Orgânica no ENEM:
            <li> Hidrocarbonetos: Utilizados como combustíveis (gás natural, gasolina, diesel) e nas indústrias petroquímicas.</li>
            <li> Álcoois: Etanol, usado em combustíveis e bebidas alcoólicas, e metanol, utilizado como solvente industrial.</li>
            <li> Ácidos carboxílicos e ésteres: Presença em alimentos e produtos de uso diário, como vinagre (ácido acético) e aromas artificiais (ésteres).</li>
            <li>Polímeros: Plásticos, como o polietileno, e borrachas são compostos orgânicos sintéticos amplamente discutidos.</li>
            <li>Medicamentos: A química orgânica está ligada à produção de fármacos e o estudo de suas funções no organismo.</li>
            <br>

        </dl>




        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:60px 300px 0px 300px">CONCLUSÃO </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 100px 0px 100px">
            Estudar Química Orgânica é fundamental para o ENEM, pois a prova valoriza a aplicação dos conceitos em temas como saúde, energia, meio ambiente e indústria. Além disso, a abordagem interdisciplinar exige que os estudantes saibam relacionar os conhecimentos de Química Orgânica com a Biologia, a Física e questões sociais e ambientais.
        </h4>
    </div>
</div>
