<div class="materia">


    <div class="alinhaportugues1 btn-group">
        <img class="imgbelha" src="~/Img/sociologial.png" alt="..." Width="100%" Height="auto">
    </div>


    @* ////////////// Introdução Sociologia //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px; ">SOBRE SOCIOLOGIA</h1>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin-top:20px;">
            A sociologia é a disciplina que estuda a sociedade, as interações sociais, os grupos, as instituições e os padrões de comportamento humano. O objetivo
            da sociologia é compreender como as sociedades se organizam, funcionam e mudam ao longo do tempo. Os sociólogos analisam aspectos como cultura, estrutura social,
            desigualdade, poder e mudanças sociais, utilizando métodos empíricos e teóricos para investigar fenômenos sociais.
        </h4>



        <h4 style="font-weight:600; font-size: 40px; margin:14px 0px 0px 200px; margin-top: 50px; margin-bottom:10px">
            Assuntos principais tratados em sociologia:
        </h4>



        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Sociedade: Um grupo de indivíduos que compartilham uma cultura e um território, interagindo entre si de maneira organizada.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Cultura: O conjunto de valores, normas, crenças, costumes e práticas que caracterizam uma sociedade. A cultura molda a identidade dos indivíduos e influencia seu comportamento.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Estrutura Social: Refere-se à organização da sociedade, incluindo suas instituições (família, educação, religião, economia) e as relações de poder e hierarquia entre grupos sociais.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Desigualdade Social: Estuda as disparidades em termos de riqueza, poder, status e oportunidades entre diferentes grupos na sociedade.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Mudança Social: Examina como as sociedades evoluem ao longo do tempo, incluindo fatores que impulsionam ou inibem a mudança.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Instituições Sociais: Estruturas que organizam a vida social, como a família, a educação, o sistema jurídico, a religião e o governo.
            </li>
        </ul>



        <h4 style="font-weight:600; font-size: 40px; margin:14px 0px 0px 200px; margin-top: 50px; margin-bottom:10px">
            Sociedade:
        </h4>




        <ul style="font-size: 30px; font-weight:350;">
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Definição: A sociedade é um conjunto de indivíduos que compartilham uma cultura comum e um território, estabelecendo interações sociais regulares.
                É caracterizada por normas, valores e instituições que regulam a vida em conjunto.
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Características: A sociedade se organiza em grupos, como famílias, comunidades e nações, e é influenciada por fatores históricos, culturais e econômicos.
                A coesão social é fundamental para o funcionamento das sociedades.
            </li>

            <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 200px">
                Cultura:
            </h4>

            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Definição: Cultura é o conjunto de práticas, valores, normas, crenças, costumes e artefatos que caracterizam um grupo social. Ela molda a identidade dos indivíduos
                e influencia seu comportamento.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Elementos: A cultura é composta por elementos tangíveis (como objetos e tecnologia) e intangíveis (como valores e crenças).
                A socialização é o processo pelo qual os indivíduos aprendem e internalizam a cultura de sua sociedade.
            </li>



            <h4 style="font-weight:600; font-size: 40px; margin:14px 0px 0px 200px; margin-top: 50px; margin-bottom:10px">
                Estrutura Social:
            </h4>



            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Definição: Refere-se à organização e hierarquia da sociedade, que é composta por diferentes grupos sociais e instituições que desempenham papéis específicos.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Instituições: As instituições sociais (família, educação, religião, economia, governo) estruturam a vida social, estabelecendo regras e normas.
                A estrutura social influencia a mobilidade social, as oportunidades e a dinâmica de poder.
            </li>



            <h4 style="font-weight:600; font-size: 40px; margin:14px 0px 0px 200px; margin-top: 50px; margin-bottom:10px">
                Desigualdade Social:
            </h4>



            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Definição: A desigualdade social analisa as disparidades de riqueza, poder e acesso a recursos entre diferentes grupos sociais. Ela pode ser observada em diferentes
                dimensões, como classe, raça, gênero e etnia.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Consequências: A desigualdade gera impactos significativos na qualidade de vida, saúde, educação e oportunidades. A compreensão da desigualdade social é crucial para promover
                políticas que visem à justiça social e equidade.
            </li>

            <h4 style="font-weight:600; font-size: 40px; margin:20px 0px 0px 200px">
                Mudança Social:
            </h4>

            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Definição: Mudança social refere-se ao processo pelo qual as sociedades evoluem e se transformam ao longo do tempo, influenciadas por fatores como tecnologia, movimentos sociais,
                políticas públicas e globalização.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Tipologia: Mudanças podem ser graduais (evoluções) ou abruptas (revoluções). A análise da mudança social ajuda a entender a adaptação e resistência a novas condições sociais e culturais.
            </li>




            <h4 style="font-weight:600; font-size: 40px; margin:14px 0px 0px 200px; margin-top: 50px; margin-bottom:10px">
                Instituições Sociais:
            </h4>




            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Definição: As instituições sociais são estruturas que organizam a vida coletiva e desempenham funções essenciais na sociedade, como a socialização, regulação do comportamento e manutenção da ordem.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Família: Base da socialização primária, onde valores e normas são transmitidos.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Educação: Instituição responsável pela formação de indivíduos e pela transmissão de conhecimento e cultura.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Religião: Oferece significados, valores e um senso de comunidade.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Economia: Regula a produção, distribuição e consumo de bens e serviços.
            </li>
            <li style="font-weight:400; margin:14px 300px 0px 300px">
                Governo: Instituição que estabelece leis e políticas para garantir a ordem e a segurança.
            </li>


        @* ////////////// A IMPORTANCIA DA SOCIOLOGIA //////////////// *@
            <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:200px 100px 0px 100px">A IMPORTÂNCIA DA SOCIOLOGIA </h1>
            <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 100px 0px 100px; margin-bottom:50px">
                A sociologia é essencial para compreender as dinâmicas sociais e os desafios contemporâneos. Ela nos ajuda a analisar problemas sociais, como desigualdade,
                discriminação, violência e mudanças culturais, e a desenvolver soluções baseadas em uma compreensão mais profunda da sociedade. Além disso, a sociologia
                proporciona uma visão crítica das normas e valores que moldam nosso cotidiano, promovendo a conscientização e o engajamento social.
                A sociologia é uma disciplina fundamental para a compreensão da complexidade das interações humanas e das estruturas sociais. Ela fornece ferramentas para analisar e interpretar fenômenos sociais,
                oferecendo uma visão crítica sobre a sociedade, promovendo o entendimento das desigualdades e contribuindo para o desenvolvimento de soluções sociais eficazes. A compreensão desses conceitos é essencial
                para abordar questões contemporâneas e fomentar uma sociedade mais justa e igualitária
            </h4>
        </ul>

    </div>
</div>