<div class="materia" style="margin-bottom:200px; margin-top:50px;">
    @* ////////////// Introdução filosofia //////////////// *@
    <div id="texto-lado2" style="margin-top: 0px; ">
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px; ">SOBRE TECNOLOGIA NO ENEM</h1>
        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin-top:20px;">
            O Exame Nacional do Ensino Médio (ENEM) é uma das principais ferramentas de avaliação e ingresso no ensino superior do Brasil. Além de medir o desempenho dos alunos em diversas áreas do conhecimento, o ENEM também reflete as tendências e demandas da sociedade contemporânea, sendo a tecnologia um dos temas recorrentes em suas provas, especialmente nas áreas de Ciências Humanas, Ciências da Natureza e Redação.
        </h4>
        <h4 style="font-weight:600; font-size: 40px; margin:80px 0px 0px 250px;">
            A Tecnologia como Tema no ENEM:
        </h4>

        <ul style="font-size: 30px; font-weight:350; margin:14px 300px 0px 300px" ">
            <li style="font-weight:400; margin:14px 400px 0px 0px">
                Impactos da Revolução Digital: O ENEM tem discutido como a revolução tecnológica, especialmente no campo da informática e da comunicação, transformou as relações de trabalho, a educação, e o cotidiano das pessoas.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Redes Sociais e Informação: O exame explora o papel das redes sociais na disseminação de informação, desinformação (fake news) e seu impacto sobre a democracia e a sociedade.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Automação e Trabalho: Questões sobre como a automação e a inteligência artificial estão mudando o cenário do mercado de trabalho, reduzindo algumas funções tradicionais enquanto criam novas demandas.
            </li>
            <li style="font-weight:400; margin:14px 200px 0px 0px">
                Tecnologia e Sustentabilidade: O ENEM também questiona a relação entre inovação tecnológica e sustentabilidade, discutindo como novas tecnologias podem ser usadas para mitigar os efeitos da mudança climática, melhorar a produção de alimentos e otimizar recursos naturais.
            </li>
        </ul>

        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin-top: 100px;">A TECNOLOGIA NA REDAÇÃO DO ENEM </h1>

        <h4 style="font-size: 35px; font-weight:350; text-align:center; margin:40px 100px 0px 100px">
            A Tecnologia na Prova de Redação
            Na redação do ENEM, temas relacionados à tecnologia já apareceram algumas vezes, como no exame de 2018, cujo tema foi "Manipulação do comportamento do usuário pelo controle de dados na internet". Esse tema abordou um dos grandes desafios da era digital: o uso ético de dados pessoais e os limites da privacidade online.
            A habilidade de argumentar sobre os impactos sociais, éticos e culturais da tecnologia é uma competência essencial para os candidatos. Assim, é importante que os alunos estejam atentos aos debates contemporâneos sobre as novas tecnologias e suas implicações.
        </h4>

        @* ////////////// A IMPORTANCIA DA SOCIOLOGIA //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px"> A INCLUSÃO DIGITAL </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
            Desafios da Inclusão Digital
            No entanto, o aumento da presença tecnológica no ENEM e na educação como um todo levanta a questão da inclusão digital. Ainda há disparidades significativas no acesso à tecnologia entre diferentes regiões e classes sociais no Brasil. Isso significa que muitos estudantes, especialmente os de áreas rurais ou de baixa renda, enfrentam dificuldades adicionais para se preparar para o exame e para acompanhar as tendências digitais da educação.
        </h4>

        @* ////////////// CONCLUSÃO //////////////// *@
        <h1 class="" style="color:#FFBA00; font-size: 50px; font-weight:400; text-align:center; margin:100px 300px 0px 300px">CONCLUSÃO </h1>
        <h4 style="font-weight:350; font-size: 35px; text-align:center; margin:20px 300px 0px 250px">
            A tecnologia no ENEM reflete não apenas as transformações da sociedade contemporânea, mas também a importância crescente de habilidades digitais no mundo atual. Desde os conteúdos abordados até a própria execução do exame, a tecnologia se mostra um elemento fundamental no futuro da educação brasileira. No entanto, para garantir a equidade, é essencial que políticas públicas continuem a promover a inclusão digital e o acesso universal às ferramentas tecnológicas.
        </h4>

        </ul>
    </div>
