@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<body class="BEEREDACAO" >
<h1>@ViewData["Title"]</h1>
    <p style="color:#FFBA00">
    Please check your email to reset your password.
</p>
</body>