@page
@model ResendEmailConfirmationModel

<body class="BEEREDACAO" style=" margin-top: 200px;">
    <h1>@ViewData["Title"]</h1>
    <h2 style ="color:#FFBA00; text-align: center; font-weight:bold; margin-top: 90px">INSIRA SEU EMAIL:</h2>
<hr />
    <div class="row" style="margin-top: 10px; justify-content: center; display: flex;">

        <div class="col" style="display: flex; justify-content: center;">
            <form method="post" style="background-color:white; border: 2px solid #333; border-radius: 8px; font-size: 1em; width:800px;justify-content:center; padding: 15px;">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label" style="color:black; font-weight:bold"></label>
                    <span asp-validation-for="Input.Email" class="text" style="color:#FFBA00"></span>
            </div>
                <button type="submit" class="w-100 btn btn-lg" style="background-color:#FFBA00; color:white;">Reenviar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>