<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/beegamesestilo.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bee Adventure</title>
</head>
<body style="margin-bottom:50px;">

    <div class="game">
        <img class="mario" src="~/Img/beegif.gif" alt="Bee Character">
        <img class="pipe" src="~/Img/pipe.png" alt="Cano">
        <img class="clouds" src="~/Img/clouds.png" alt="Nuvens">
        <button class="botaomario" onclick="startGame()">Iniciar</button>
       
    </div>

    <div class="game-over">
        <h1>Game Over :(</h1>
        <button class="botaomario" onclick="restartGame()">Reiniciar</button>
    </div>

    <div class="victory-image" style="display: none;">
        <img src="caminho/da/sua/imagem.jpg" alt="Você ganhou! Parabéns!">
        <button class="botaomario" onclick="restartGame()">Reiniciar</button>
    </div>
    <div class="score" id="score">Pontos: 0</div>
    <div class="phase-message" id="phase-message" style="font-size:40px; font-weight:700; text-align:center; color:#fccd35">BEM VINDO A BEE ADVENTURE</div> <!-- Mensagem da fase -->

    <script src="~/js/beegamesjs.js"></script>

</body>
</html>
