<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/beegamesestilo.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bee Adventure</title>
</head>
<body class="bodygames" style="margin-top:70px;">



    <div class="score" id="score">Pontos: 0</div>
    <div>
        <div class="phase-message" id="phase-message" style="font-size:40px; font-weight:700; text-align:center; color:#fccd35">
            <h1 style="font-size:40px; font-weight:700; text-align:center; color:#fccd35">BEM VINDO A BEE ADVENTURE</h1>
        </div> <!-- Mensagem da fase -->
        <a id="botaofechar" type="button" class="btn-close" aria-label="Close" asp-controller="BeeGames" asp-action="Index"></a>
    </div>




    <div class="game">
        <img class="bee" src="~/Img/beegif.gif" alt="Bee Character">
        <img class="pipe" src="~/Img/pipe.png" alt="Cano">
        <img class="clouds" src="~/Img/clouds.png" alt="Nuvens">
        <button class="botaobee" onclick=" startGame()" style="top:30vh;">Iniciar</button>

    </div>

    <div class="game-over">
        <h1 style="font-size:40px; font-weight:700; text-align:center; color:#fccd35">Game Over :(</h1>
        <button class="botaobee" onclick="restartGame()">Reiniciar</button>
    </div>

    <div class="victory-image" style="display: none;">
        <img src="caminho/da/sua/imagem.jpg" style="font-size:40px; font-weight:700; text-align:center; color:#fccd35">
        <button class="botaobee" onclick="restartGame()" style="top:30vh;">Reiniciar</button>
    </div>

    <script src="~/js/beegamesjs.js"></script>

</body>
</html>
