@{
    ViewData["Title"] = "BeeGames";
}
<body class="Beegamesbody">
    
   
    
    <div class="gamesdiv1 btn-group">
       
        <div style="text-align: center; display: flex; gap: 10px;">
            
            <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Quizes">
                <img src="~/Img/QUIZLOGO.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">
                    
                </a>
            </div>
            
            <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Adventure">
                <img src="~/Img/bee aventure.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">
                    
                </a>
            </div>

            <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Memoria">
                    <img src="~/Img/memoria.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">

                </a>
            </div>
        
        </div>
    
    </div>


</body>