@{
    ViewData["Title"] = "BeeGames";
}
<body class="Beegamesbody">
    

    <div class="alinhaves1 btn-group">
        <img class="imgves" src="~/Img/beegames.png" alt="..." Width="100%" Height="auto">
    </div>
   
    <h1 style="margin-top:90px; font-weight:800; font-size:50px; text-align:center; color: #ffde59;">DIVERSÃO COM APRENDIZAGEM!!</h1>
    
    <div class="gamesdiv1 btn-group">
       
        <div class="gamesdiv2">

            <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Jgmatematico">
                <img src="~/Img/calculobee.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">
                    
                </a>
            </div>
            
            <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Quizes">
                <img src="~/Img/QUIZLOGO.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">
                    
                </a>
            </div>

             <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Cobrinha">
                <img src="~/Img/jogodacobra.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">
                    
                </a>
            </div>
        </div>
        <div class="gamesdiv3">
            <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Adventure">
                <img src="~/Img/bee aventure.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">
                    
                </a>
            </div>

            <div style="text-align: center;">
                <a class="btn" asp-area="" asp-controller="BeeGames" asp-action="Memoria">
                    <img src="~/Img/memoria.png" style="width:300px; height:300px; border-radius: 15px;" class="" alt="...">

                </a>
            </div>
        
        </div>
    
    </div>


</body>