<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/memoria.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Memoria</title>
</head>
<body>
    <a id="botaofechar" type="button" class="btn-close" aria-label="Close" asp-controller="BeeGames" asp-action="Index"></a>
    <div class="game">
        <div class="controls">
            <button>Começar</button>
            <div class="stats">
                <div class="moves" style="color: #e29207;">0 Movimentos</div>
                <div class="timer" style="color: #e29207;">Tempo: 0 segundos</div>
            </div>
        </div>
        <div class="board-container">
            <div class="board" data-dimension="4"></div>
            <div class="win">Você venceu!</div>
        </div>
    </div>

    <script src="~/js/memoria.js"></script>
</body>

</html>