<select class="form-select form-select-lg mb-3" aria-label="Large select example">
    <option selected>Escolha o Tema</option>
    <option value="1">O impacto das redes sociais na construção da identidade juvenil</option>
    <option value="2">Desigualdade social e suas consequências na educação</option>
    <option value="3">A importância da preservação ambiental para as futuras gerações</option>
    <option value="4">A influência da cultura de massa na formação de valores sociais</option>
    <option value="5">O papel da saúde mental na vida dos jovens</option>
    <option value="6">Desafios e oportunidades da inclusão digital no Brasil</option>
    <option value="7">O papel da literatura na formação do cidadão crítico</option>
    <option value="8">A relação entre tradição e modernidade na sociedade contemporânea</option>
    <option value="9">Mobilidade urbana e seus impactos na qualidade de vida</option>
    <option value="10">O papel da família na formação dos valores éticos e morais</option>
</select>
