@{
    ViewData["Title"] = "Beeflix";
}
<div class="BEEREDACAO" style=" margin-bottom: 150px;">
   



    <h1 style="color:#FFBA00;text-align:center; font-weight:600; text-align:center; margin-top: 150px; font-size: 70px;">REDAÇÃO</h1>








    @***************************************************************************************************************************************************************@
    <div class="wrapper">
        <h2 style="color:white;text-align:center; font-weight:500; font-size: 50px;">COMPETÊNCIAS</h2>

        @***********************************  INTRODUÇÃO **********************************************@
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" style="background-color:#fff8c2; margin-top:5px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        INTRODUÇÃO
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:black;">
                        A introdução é a primeira parte da redação e desempenha um papel crucial
                        na construção do seu texto. Ela deverá apresentar o tema que será explorado,
                        proporcionando ao leitor uma visão geral sobre o assunto. Para isso, comece
                        contextualizando a questão, mencionando sua relevância ou aspectos importantes
                        relacionados a ela. Em seguida, insira sua tese, que é a sua posição sobre o tema.
                        A tese deve ser clara e direta, abaixo qual será a direção que sua argumentação tomará.
                        Além disso, a introdução deve despertar o interesse do leitor, levando-o a querer
                        continuar a leitura. Uma boa introdução é essencial, pois estabelece as bases para
                        os argumentos que você irá desenvolver nos parágrafos seguintes.
                    </div>
                </div>
            </div>
            @***********************************  DESENVOLVIMENTO 1 **********************************************@
            <div class="accordion-item" style="background-color:#fff8c2; margin-top:5px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        DESENVOLVIMENTO 1
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:black;">
                        O primeiro parágrafo de desenvolvimento é onde você recebe a exploração
                        de seus argumentos a favor da tese apresentada na introdução. Neste parágrafo,
                        escolha um argumento que sustente sua posição e explique-o de forma clara e lógica.
                        É importante usar exemplos concretos, dados ou especificações relevantes para fortalecer
                        sua argumentação e demonstrar a validade do que você está dizendo. A coesão é fundamental
                        nesta parte, então utilizar conectores que ajudam a ligar as ideias de maneira fluida.
                        Lembre-se de que o objetivo é convencer o leitor de que seu argumento é válido e relevante,
                        mostrando como ele se relaciona.
                    </div>
                </div>
            </div>


            @***********************************  DESENVOLVIMENTO 2 **********************************************@
            <div class="accordion-item" style="background-color:#fff8c2; margin-top:5px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        DESENVOLVIMENTO 2
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:black;">
                        O segundo desenvolvimento segue a mesma lógica do primeiro,
                        mas apresenta um novo argumento que complementa ou enriquece
                        a discussão. A competência desta parte é ampliar a análise,
                        trazendo diferentes perspectivas ou abordagens sobre o tema.
                        É importante que os argumentos sejam bem estruturados e que
                        haja uma progressão lógica nas ideias, permitindo que o leitor
                        acompanhe facilmente a linha de raciocínio. Nesta seção, o autor
                        também pode abordar contrapontos, ou seja, considerar objeções
                        à sua argumentação principal, o que não apenas fortalece a
                        discussão, mas também demonstra a capacidade do autor de lidar
                        com críticas e desafios à sua posição. Isso resulta em uma
                        argumentação mais robusta e equilibrada.
                    </div>
                </div>
            </div>




            @***********************************  CONCLUSÃO **********************************************@
            <div class="accordion-item" style="background-color:#fff8c2; margin-top:5px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        CONCLUSÃO
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:black;">
                        A conclusão é a parte final do texto e desempenha um papel
                        vital na síntese das ideias apresentadas. Sua principal
                        competência é reunir os principais pontos discutidos, reafirmando
                        a tese à luz dos argumentos apresentados. Nela, o autor deve
                        oferecer uma reflexão sobre as implicações do que foi pensado,
                        podendo sugerir caminhos futuros, soluções ou questões que ainda
                        precisam ser exploradas. A conclusão deve deixar uma impressão com
                        rigor no leitor, incentivando-o a refletir mais profundamente sobre
                        o assunto ou a agir de alguma forma em relação a ele. É uma oportunidade
                        do autor para encerrar a discussão de maneira clara e convincente,
                        reforçando a mensagem que deseja transmitir
                    </div>
                </div>
            </div>





            @***********************************  RESUMO **********************************************@
            <div class="accordion-item" style="background-color:#fff8c2; margin-top:5px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        RESUMO
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:black;">
                        As competências da redação do ENEM avaliam a capacidade de produzir
                        um texto dissertativo-argumentativo. A primeira competência exige
                        o domínio da norma padrão da língua, com uso correto da ortografia,
                        gramática e pontuação. A segunda envolve a compreensão do tema,
                        exigindo uma argumentação pertinente. A terceira competência refere-se
                        à organização das ideias, que deve ser coerente e coesa, com introdução,
                        desenvolvimento e conclusão claras. A quarta avalia uma argumentação consistente,
                        que deve ser sustentada por dados e exemplos. Por fim, a quinta competência destaca
                        a importância de respeitar os direitos de imagem e texto, utilizando informações
                        de forma ética. Essas competências são essenciais para um bom desempenho no ENEM,
                        sendo a redação é uma das partes mais relevantes do ENEM. Uma redação bem escrita
                        pode fazer uma diferença significativa na classificação geral do candidato,
                        impactando as oportunidades de ingresso em instituições de ensino superior.
                    </div>
                </div>
            </div>
        </div>
    </div>
    @***************************************************************************************************************************************************************@
    @***************************************************************************************************************************************************************@














    @*********************************************SELECT TEMA******************************************************@
    <h1 style="color:#FFBA00; text-align:center; font-weight:600; font-size: 50px;">Escolha o Tema da sua redação</h1>
    <div class="selectredacao">
        <select class="form-select form-select-lg mb-3" id="tema" style="background-color:#fff9e9;" aria-label="Large select example">
            <option selected>Escolha o Tema</option>
            <option value="1">O impacto das redes sociais na construção da identidade juvenil</option>
            <option value="2">Desigualdade social e suas consequências na educação</option>
            <option value="3">A importância da preservação ambiental para as futuras gerações</option>
            <option value="4">A influência da cultura de massa na formação de valores sociais</option>
            <option value="5">O papel da saúde mental na vida dos jovens</option>
            <option value="6">Desafios e oportunidades da inclusão digital no Brasil</option>
            <option value="7">O papel da literatura na formação do cidadão crítico</option>
            <option value="8">A relação entre tradição e modernidade na sociedade contemporânea</option>
            <option value="9">Mobilidade urbana e seus impactos na qualidade de vida</option>
            <option value="10">O papel da família na formação dos valores éticos e morais</option>
            <option value="11">O impacto das fake news na sociedade contemporânea</option>
            <option value="12">A importância da educação financeira na vida dos jovens</option>
            <option value="13">A influência da música na formação de identidade cultural</option>
            <option value="14">O papel das tecnologias na educação do século XXI</option>
            <option value="15">A relação entre saúde física e saúde mental</option>
            <option value="16">A crise da água e suas implicações sociais e ambientais</option>
            <option value="17">O papel do voluntariado na transformação social</option>
            <option value="18">A representatividade de gênero na mídia</option>
            <option value="19">A ética no uso das redes sociais</option>
            <option value="20">Os efeitos da globalização na cultura local</option>
            <option value="21">O papel da ciência e da tecnologia no desenvolvimento sustentável</option>
            <option value="22">A relação entre consumo e felicidade na sociedade contemporânea</option>
            <option value="23">Os desafios da imigração e suas consequências sociais</option>
            <option value="24">A importância da preservação da diversidade cultural</option>
            <option value="25">Os direitos dos animais e sua relação com a ética</option>
        </select>

        <div id="erroTema"></div>
    </div>



    @*********************************************VALIDAR REDAÇÃO******************************************************@
    <h1 style="color:#FFBA00; font-weight:600; text-align:center; font-size: 70px;">Avaliação de Redação</h1>
    <div class="containerredacao">
        <textarea id="redacao" placeholder="Digite sua redação aqui..." rows="10" style="width: 100%;"></textarea>
        <div>
            <button id="avaliarBtn">Avaliar Redação</button>
            <div id="temaStatus" style="color:black;"></div>
            <div id="resultado" style="color:black;"></div>
            <div id="feedback" style="color:black;"></div>
        </div>
    </div>
</div>



