@{
    ViewData["Title"] = "Home Page";
}

<div class="alinhahome1 btn-group">
<img class="imgbelha" src="~/Img/bee1.png" alt="..." Width="400" Height="400">

    <div class ="embaixo1">
        <h1 style="font-weight: bold;" class="teste1 display-4">BEELEARNING</h1>
        <h1 class="teste1" style="text-align:center ;font-weight:2">O jeito mais facil de você conseguir alcançar seus objetivos</h1>
        <div class="embaixo2">
        <button type="button" style="color:white; width:200px" class="btn btn-warning">ENTRAR AQUI</button>
        <button type="button" style="color:black; width:200px; background-color:#E6E6E6" class="btn">CADASTRAR</button>
        </div>
   </div>
</div>