@{
    ViewData["Title"] = "Home Page";
}
@* //////////////// Inicio Home ///////////////// *@
<div>
    @{
        if (!User.Identity.IsAuthenticated)
        {
            @*////////////////// Logo em baixo das materias /////////////////////*@
            <div class="alinhahome2">
                <img src="Img/BEE3 - Copia.png" class="alinhahome2" alt="..." style="width: 100%">
            </div>
           
        }
    }
    <div class="alinhahome1 btn-group">
        <img class="imgbelha" src="~/Img/bee1.png" style="margin-left: 100px;" alt="..." Width="400" Height="400">

        <div class="embaixo1" style="margin-right: 20px;">
            <h1 style="font-weight: bold;" class="teste1 display-4">BEELEARNING</h1>
            <h1 class="teste1" style="text-align:center; font-weight:2; margin-top: 10px; margin-bottom: 10px;">O jeito mais facil de você conseguir alcançar seus objetivos</h1>
            <div class="embaixo2">



                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        @* <button type="button" style="color:white; width:200px" class="btn btn-warning">ENTRAR AQUI</button> *@
                        <a style="color:white; width:200px; background-color:#F1B408" class="btn" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
                        @* <button type="button" style="color:black; width:200px; background-color:#E6E6E6" class="btn">CADASTRAR</button> *@
                        <a style="color:black; width:200px; background-color:#E6E6E6" class="btn" asp-area="Identity" asp-page="/Account/Login">Entrar</a>

                    }
                }


            </div>
        </div>
    </div>

    @{
        if (User.Identity.IsAuthenticated)
        {
            @* /////////////////Botões das matérias///////////////// *@
            <div class="linha"></div>
            <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 10px;" class="btn btn-group">


                <div style="text-align: center;">

                    <div style="text-align: center;">
                        <a class="btn" asp-area="" asp-controller="Materias" asp-action="Linguagens">
                            <img src="~/Img/linguaestranheira.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                            <p>Linguagens</p>
                        </a>
                    </div>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Portugues">
                        <img src="~/Img/portugues.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Português</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Fisica">
                        <img src="~/Img/fisica.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Física</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Quimica">
                        <img src="~/Img/quimica.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Química</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Matematica">
                        <img src="~/Img/matematica.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Matemática</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Historia">
                        <img src="~/Img/historia.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>História</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Geografia">
                        <img src="~/Img/geografia.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Geografia</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Biologia">
                        <img src="~/Img/biologia.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Biologia</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Tecnologia">
                        <img src="~/Img/tecnologia.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Tecnologia</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Sociologia">
                        <img src="~/Img/sociologia.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Sociologia</p>
                    </a>
                </div>

                <div style="text-align: center;">
                    <a class="btn" asp-area="" asp-controller="Materias" asp-action="Filosofia">
                        <img src="~/Img/filosofia.png" style="width:80px; height:80px;" class="rounded-circle" alt="...">
                        <p>Filosofia</p>
                    </a>
                </div>

            </div>
            <div class="linha"></div>
        } }



            @{
        if (User.Identity.IsAuthenticated)
        {
    @*////////////////// Logo em baixo das materias /////////////////////*@
    <div class="alinhahome2">
        <img src="Img/BEE3 - Copia.png" class="alinhahome2" alt="..." style="width: 100%">
    </div>
        }}

    @* //////TEXTO AO LADO/////// *@


    <div id="texto-lado" style="margin-top: 120px; ">
        <h1 class="" style="font-weight:2; font-weight:400; text-align:center">OS MELHORES PROFESSORES DO BRASIL ESTÃO NO BEELEARNING</h1>
    </div>






    @* //////////////// Carrossel //////////////////// *@

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Img/carlos.png" class="d-block w-100" alt="...">
                        <p style="color:#FFBA00; text-align:center">MATEMÁTICA</p>
                        <h4 style="text-align:center">CARLOS</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/celina.png" class="d-block w-100" alt="Image2">
                        <p style="color:#FFBA00; text-align:center">QUÍMICA</p>
                        <h4 style="text-align:center">CELINA</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/marina.png" class="d-block w-100" alt="Image3">
                        <p style="color:#FFBA00; text-align:center">FÍSICA</p>
                        <h4 style="text-align:center">MARINA</h4>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Img/juliana.png" class="d-block w-100" alt="Imagem4">
                        <p style="color:#FFBA00; text-align:center">LINGUAGENS</p>
                        <h4 style="text-align:center">JULIANA</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/geraldo.png" class="d-block w-100" alt="Imagem5">
                        <p style="color:#FFBA00; text-align:center">HISTÓRIA</p>
                        <h4 style="text-align:center">GERALDO</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/enzo.png" class="d-block w-100" alt="Imagem6">
                        <p style="color:#FFBA00; text-align:center">GEOGRAFIA</p>
                        <h4 style="text-align:center">ENZO</h4>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Img/luiz.png" class="d-block w-100" alt="Imagem7">
                        <p style="color:#FFBA00; text-align:center">SOCIOLOGIA</p>
                        <h4 style="text-align:center">LUÍZ</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/ricardo.png" class="d-block w-100" alt="Imagem8">
                        <p style="color:#FFBA00; text-align:center">TÉCNOLOGIA</p>
                        <h4 style="text-align:center">RICARDO</p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/marcela.png" class="d-block w-100" alt="Imagem9">
                        <p style="color:#FFBA00; text-align:center">REDAÇÃO</p>
                        <h4 style="text-align:center">MARCELA</h4>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Img/olivia.png" class="d-block w-100" alt="Imagem10">
                        <p style="color:#FFBA00; text-align:center">FILOSOFIA</p>
                        <h4 style="text-align:center">OLIVIA</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/carol.png" class="d-block w-100" alt="Imagem11">
                        <p style="color:#FFBA00; text-align:center">BIOLOGIA</p>
                        <h4 style="text-align:center">CAROL</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/saulo.png" class="d-block w-100" alt="Imagem12">
                        <p style="color:#FFBA00; text-align:center">INGLÊS</p>
                        <h4 style="text-align:center">SAULO</h4>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Img/neuza liz.png" class="d-block w-100" alt="Imagem13">
                        <p style="color:#FFBA00; text-align:center">ARTE</p>
                        <h4 style="text-align:center">NEUZA</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/ulisses.png" class="d-block w-100" alt="Imagem14">
                        <p style="color:#FFBA00; text-align:center">BIOLOGIA</p>
                        <h4 style="text-align:center">ULISSES</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Img/margarida.png" class="d-block w-100" alt="Imagem15">
                        <p style="color:#FFBA00; text-align:center">ARTES CÊNICAS</p>
                        <h4 style="text-align:center">MARGARIDA</h4>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    @*    ///// DIV SOBRE ////// *@
    @* ////ABELHA///// *@

    <div class="image-container" style="margin-top: 300px;">
        <img src="/Img/bee2-removebg-preview.png" alt="Imagem acima da div"
             style="margim-bottom:10px; position:absolute; bottom: 600px; right: 2px;">



        @* ////DIV///// *@
        <div class="organizadiv1">
            <h2 style="color:#FFBA00; text-align:center; width:100%;">DIVERTIDO</h2>
            <h4 style="text-align:center; margin-top: 20px">Com lições rápidas e curtinhas, você aprende diversas matérias.</h4>
            <h2 style="color:#FFBA00; text-align:center; width:100%; margin-top: 90px" ">BASEADO NA CIÊNCIA</h2>
            <h4 style="text-align:center; margin:20px 300px 0px 300px">Combinamos metodologias aprovadas pela ciência com um conteúdo encantador para criar cursos eficazes para aprovações em vestibular!</h4>
            <h2 style="color:#FFBA00; text-align:center; width:100%; margin-top: 90px" ">MANTENHA A MOTIVAÇÃO</h2>
            <h4 style="text-align:center; margin:20px 350px 0px 350px">Fica fácil criar o hábito de aprender com recursos que parecem de jogo, desafios divertidos e lembretes do nossa mascote simpático, a abelha Beea.</h4>

        </div>
    </div>

    <div id="texto-lado" style="margin-top: 120px; ">
        <h1 class="" style="font-weight:2; font-weight:400; text-align:center; margin:200px 300px 0px 300px">APROVAÇÕES NAS MELHORES UNIVERSIDADES PELA BEELEARNING</h1>
    </div>


    @* /////ESTUDANTES///// *@

    <div class="imagem-container2">
        <div class="item">
            <img src="~/Img/direito.png" class="d-block w-100" alt="Imagem1">
            <h4 style="text-align:center">DIREITO NA USP</h4>
            <h6 style="color:#FFBA00; text-align:center; margin-top: 15px;">FABRICIO RIBEIRO</h6>
        </div>
        <div class="item">
            <img src="~/Img/medicina na unicamp.png" class="d-block w-100" alt="Imagem1">
            <h4 style="text-align:center">MEDICINA NA UNICAMP</h4>
            <h6 style="color:#FFBA00; text-align:center; margin-top: 15px">HANNA YOSHIKA</h6>
        </div>
        <div class="item">
            <img src="~/Img/medicina na usp.png" class="d-block w-100" alt="Imagem1">
            <h4 style="text-align:center">MEDICINA NA USP</h4>
            <h6 style="color:#FFBA00; text-align:center; margin-top: 15px;">PEDRO ANDRÉ DE SOUZA</h6>
        </div>
    </div>



    @{
        if (!User.Identity.IsAuthenticated)
        {

            @*////////////////// LOGO FINAL /////////////////////*@
            <div class="alinhahome4" style="margin-top: 300px; width: 100%">
                <a style="color:white; width:200px margim-bottom:10px; position:absolute; bottom: 600px;left: 45%; background-color:#FFDF6C; width:200px; height:40px;" class="btn" asp-area="Identity" asp-page="/Account/Register">COMEÇE AGORA</a>
                <img src="Img/HOMEFINAL.png" class="alinhahome4" alt="..." style="width: 100%">

            </div>
        }
    }
</div>