@{
    ViewData["Title"] = "Quem";
}
<div>
    <img class="imgbelha" src="~/Img/QUEMSOMOS.png" style="width: 100%" alt="..." >
</div>





<div id="texto-lado2" style="margin-top: 0px; ">
    <h1 class="" style="color:#FFBA00; font-weight:1000; font-size:60px; text-align:center; margin:100px 300px 0px 300px">QUEM SOMOS</h1>
    <h4 style="font-weight:350; text-align:center; margin:20px 400px 0px 400px">
        Somos uma plataforma dedicada a transformar a jornada de preparação para o vestibular em uma experiência mais eficiente, dinâmica e acessível. Nosso propósito é capacitar estudantes com ferramentas e conteúdos de qualidade, ajudando-os a alcançar seus sonhos acadêmicos e a ingressar nas melhores universidades do país.
        Com uma equipe formada por professores experientes e especialistas em educação, desenvolvemos materiais que vão além do tradicional. Aqui, você encontra videoaulas, simulados, resumos, e dicas exclusivas que facilitam o entendimento das matérias e melhoram sua performance nas provas.
        Nosso compromisso é acompanhar você em cada etapa da sua preparação, seja revisando o conteúdo, praticando exercícios ou fornecendo estratégias de estudo. Acreditamos que o sucesso é uma combinação de disciplina, conhecimento e apoio — e estamos aqui para oferecer isso a você.
        Prepare-se para o vestibular de forma inteligente e eficaz. Vamos juntos nessa jornada rumo à sua aprovação!
    </h4>
</div>


<div class="alinhaquem1">
    <img class="imgbelha" src="~/Img/oi eu sou a bee.png" style="" alt="..." Width="400" Height="400">
</div>



<div id="texto-lado3">
    <h1 class="" style="color:#FFBA00; font-weight:800; text-align:center; margin:100px 300px 0px 300px">PERGUNTAS FREQUENTES</h1>
    <h4 style="color: #ffd400; font-weight:500; text-align:center; margin:80px 400px 0px 400px">
        O QUE É ESSA PLATAFORMA E COMO ELA FUNCIONA?
    </h4>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        Nossa plataforma oferece materiais de estudo como videoaulas, simulados, resumos e questões comentadas, tudo pensado para facilitar sua preparação para o vestibular. Você pode acessar os conteúdos conforme suas necessidades e organizar seu cronograma de estudos.
    </h4>

    <h4 style="color: #ffd400; font-weight:500; text-align:center; margin:50px 400px 0px 400px">
        PRECISO PAGAR PARA USAR ESSA PLATAFORMA?
    </h4>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        Oferecemos tanto planos gratuitos quanto planos pagos. O plano gratuito dá acesso a uma quantidade limitada de materiais, enquanto o plano premium oferece conteúdos exclusivos, aulas ao vivo e simulados personalizados.
    </h4>

    <h4 style="color: #ffd400; font-weight:500; text-align:center; margin:50px 400px 0px 400px">
        COMO SÃO ATUALIZADOS OS CONTEÚDOS?
    </h4>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        Nossos materiais são atualizados frequentemente para refletir as mudanças nos vestibulares e nas principais provas do país. Estamos sempre atentos às novas exigências e formatos para garantir que você esteja bem preparado.
    </h4>
</div>





@* /////FOTOS3///// *@

<div class="imagemquem">
    <div class="item" style="width: 700px;">
        <img src="~/Img/36.png" class="d-block w-100" alt="Imagem1">
    </div>
    <div class="item" style="width: 700px;">
        <img src="~/Img/37.png" class="d-block w-100" alt="Imagem2">
    </div>
    <div class="item" style="width: 700px;">
        <img src="~/Img/38.png" class="d-block w-100" alt="Imagem3">
    </div>
</div>