

<body id="texto-lado3" style="margin-top: 0px; ">

    <div class="alinhaves1 btn-group">
        <img class="imgves" src="~/Img/vestibulares.png" alt="..." Width="100%" Height="auto">
    </div>

    <h1 class="" style="color:#FFBA00; font-weight:400; text-align:center; margin:100px 300px 0px 300px">VESTIBULARES</h1>
    <h4 style="font-weight:350; text-align:center; margin:80px 400px 0px 400px">
        Preparar-se para o vestibular é uma etapa essencial para quem deseja ingressar no ensino superior. Nesta seção, você encontrará informações completas sobre os principais vestibulares do país, dicas de estudo, cronogramas de provas e materiais exclusivos para otimizar sua preparação.
    </h4>

    <h2 style="font-weight:350; color:#FFBA00; text-align:center; margin-top:70px;">
        PRINCIPAIS VESTIBULARES
    </h2>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        ENEM (Exame Nacional do Ensino Médio)
        O ENEM é a principal porta de entrada para diversas universidades públicas e privadas no Brasil. Nossa plataforma oferece simulados no formato ENEM, videoaulas específicas para as áreas cobradas na prova e estratégias para otimizar seu desempenho.
    </h4>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        Fuvest (Fundação Universitária para o Vestibular)
        Responsável pelo processo seletivo da USP, a Fuvest é um dos vestibulares mais disputados do país. Aqui, você encontra resumos, simulados e dicas focadas nas áreas mais importantes para se destacar nessa prova desafiadora.
    </h4>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        Unicamp (Universidade Estadual de Campinas)
        O vestibular da Unicamp é conhecido por sua abordagem interdisciplinar. Com nossos conteúdos, você estará preparado para lidar com questões que exigem uma leitura crítica e um bom raciocínio lógico.
    </h4>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        Unesp (Universidade Estadual Paulista)
        A Unesp é outra das grandes universidades estaduais de São Paulo. Com foco em conteúdos atualizados, ajudamos você a compreender as exigências do vestibular da Unesp e a melhorar seu desempenho.
    </h4>

    <h4 style="font-weight:350; text-align:center; margin:50px 400px 0px 400px">
        Vunesp (Vestibular da Fundação Vunesp)
        Além de realizar o vestibular para a Unesp, a Vunesp organiza provas para diversas outras instituições. Fornecemos simulados que seguem o estilo e os critérios da Vunesp, garantindo que você esteja pronto para qualquer desafio.
    </h4>

    <h2 style="font-weight:350; color:#FFBA00; text-align:center; margin-top: 70px;">
        CALENDÁRIO DE PROVAS
    </h2>

    <table class="table ves">
        <thead>
            <tr>
                <th class="ves1" scope="col">VESTIBULAR</th>
                <th class="ves1" scope="col">INSCRIÇÃO</th>
                <th class="ves1" scope="col">PROVA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ENEM</td>
                <td>Junho</td>
                <td>Novembro</td>
            </tr>
            <tr>
                <td>Fuvest</td>
                <td>Setembro</td>
                <td>Nov/Dez</td>
            </tr>
            <tr>
                <td>Unicamp</td>
                <td>Setembro</td>
                <td>Nov/Dez</td>
            </tr>
            <tr>
                <td>Unesp</td>
                <td>Setembro</td>
                <td>Novembro</td>
            </tr>
            <tr>
                <td>Vunesp</td>
                <td>Setembro</td>
                <td>Novembro</td>
            </tr>
            <tr>
        </tbody>
    </table>
</body>
