/****************************VÍDEO AULA*******************************/


@*********************************** LINGUAGENS **********************************************@
<div class="accordion accordion-flush" id="accordionFlushExample" style="align-items:center; border-radius: 15px; padding:20px; margin:190px; background-color:black;">
    <h1 style="text-align:center; color:white;">VÍDEO AULAS</h1>
    <div class="accordion-item" style="background-color:#ffde59; margin-top:5px; width:100%;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                LINGUAGENS
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align:center">
            <h3 style="margin-top:30px;">Língua Portuguesa</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Linguagens/Respondendo o ENEM - Língua Portuguesa. [Prof Noslen].mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Língua Portuguesa para o ENEM, o professor aborda a importância da interpretação de textos, uma habilidade fundamental para a prova.
                Ele começa definindo o que é interpretação e sua relevância nas questões do ENEM. Em seguida, apresenta estratégias para melhorar a compreensão, como identificar a ideia principal,
                os argumentos e a intenção do autor, além de fornecer exemplos práticos de questões que exigem interpretação crítica.
            </p>

            <h3 style="margin-top:30px;">Literatura</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Linguagens/Respondendo o ENEM - Literatura. [Prof. Noslen].mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Literatura para o ENEM, o professor explora os principais movimentos literários brasileiros, enfatizando suas características e autores mais relevantes.
                Ele inicia com o Romantismo, destacando suas temáticas como o nacionalismo, o amor idealizado e a valorização da natureza, apresentando autores como José de Alencar e Gonçalves Dias. Em seguida, aborda o Realismo,
                com ênfase na crítica social e na representação da vida cotidiana, mencionando Machado de Assis e Raul Pompeia..
            </p>

            <h3 style="margin-top:30px;">Artes</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Linguagens/Respondendo o ENEM - Artes. [Prof. Noslen].mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Artes para o ENEM, o professor discute a evolução da arte ao longo da história, destacando os principais movimentos artísticos e suas características. Ele fala sobre a importância do contexto social
                e cultural na produção artística, abordando como diferentes épocas influenciaram estilos e técnicas. A aula menciona movimentos como o Renascimento, o Barroco e o Modernismo, sem entrar em muitos detalhes específicos sobre artistas ou obras.
                O professor enfatiza a necessidade de interpretar as obras de arte,
                considerando aspectos como forma, cor e composição, e como essas análises podem ser úteis nas questões do ENEM.
            </p>

            <h3 style="margin-top:30px;">Educação Física</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Linguagens/Respondendo o ENEM - Educação Física. [Prof. Noslen].mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Educação Física para o ENEM, o professor aborda a importância da atividade física para a saúde e o bem-estar. Ele discute os benefícios da prática regular de exercícios, incluindo melhorias na condição física, na saúde mental e na prevenção de doenças.
                A aula também explora diferentes modalidades esportivas, ressaltando como cada uma contribui para o desenvolvimento de habilidades motoras e sociais.
                O professor fala sobre a importância do trabalho em equipe e da disciplina, características que podem ser aprendidas através do esporte.
            </p>

            <h3 style="margin-top:30px;">Inglês</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Linguagens//Respondendo o ENEM - Inglês. [Prof. Noslen].mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Inglês para o ENEM, o professor aborda aspectos essenciais da língua, com foco na compreensão de textos e na gramática. Ele inicia com dicas para melhorar a leitura, enfatizando a importância de identificar a ideia principal, vocabulário e inferências a partir do contexto.
                O professor também discute os diferentes tipos de textos que podem aparecer na prova, como narrativas, artigos de opinião e textos informativos, e como abordá-los de forma eficaz.
                Em relação à gramática, ele revisa tópicos fundamentais, como tempos verbais, preposições e concordância verbal, oferecendo exemplos práticos.
            </p>

            <h3 style="margin-top:30px;">Espanhol</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Linguagens/Respondendo o ENEM - Espanhol. [Prof. Noslen].mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Espanhol para o ENEM, o professor aborda aspectos fundamentais da língua, com foco na compreensão de textos e na gramática. Ele começa explicando a importância da leitura e interpretação de diferentes tipos de textos, como contos, artigos e diálogos, destacando a identificação de ideias principais e vocabulário relevante.
                O professor também revisa tópicos gramaticais essenciais, como os tempos verbais, a conjugação de verbos e o uso de pronomes, oferecendo exemplos práticos para facilitar a compreensão. Além disso, discute a importância do contexto cultural nos textos, relacionando a língua com aspectos da cultura hispano-americana.
            </p>
        </div>
    </div>
    @***********************************  EXATAS **********************************************@
    <div class="accordion-item" style="background-color:#ffde59; margin-top:5px; width:100%;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                EXATAS
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align:center">
            <h3 style="margin-top:30px;">Tudo sobre Matemática básica</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/MatemáticaBásica.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Língua Portuguesa para o ENEM, o professor aborda a importância da interpretação de textos, uma habilidade fundamental para a prova.
                Ele começa definindo o que é interpretação e sua relevância nas questões do ENEM. Em seguida, apresenta estratégias para melhorar a compreensão, como identificar a ideia principal,
                os argumentos e a intenção do autor, além de fornecer exemplos práticos de questões que exigem interpretação crítica.
            </p>

            <h3 style="margin-top:30px;">Raiz quadrada</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/Como calcular RAIZ QUADRADA _ Dica para resolver DE CABEÇA!.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Literatura para o ENEM, o professor explora os principais movimentos literários brasileiros, enfatizando suas características e autores mais relevantes.
                Ele inicia com o Romantismo, destacando suas temáticas como o nacionalismo, o amor idealizado e a valorização da natureza, apresentando autores como José de Alencar e Gonçalves Dias. Em seguida, aborda o Realismo,
                com ênfase na crítica social e na representação da vida cotidiana, mencionando Machado de Assis e Raul Pompeia..
            </p>

            <h3 style="margin-top:30px;">Razão Trigonométrica</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/RAZÃO TRIGONOMÉTRICA _ SENO, COSSENO E TANGENTE COMO CAI NO ENEM.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Artes para o ENEM, o professor discute a evolução da arte ao longo da história, destacando os principais movimentos artísticos e suas características. Ele fala sobre a importância do contexto social
                e cultural na produção artística, abordando como diferentes épocas influenciaram estilos e técnicas. A aula menciona movimentos como o Renascimento, o Barroco e o Modernismo, sem entrar em muitos detalhes específicos sobre artistas ou obras.
                O professor enfatiza a necessidade de interpretar as obras de arte,
                considerando aspectos como forma, cor e composição, e como essas análises podem ser úteis nas questões do ENEM.
            </p>

            <h3 style="margin-top:30px;">Semelhança de Triângulo</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/SEMELHANÇA DE TRIÂNGULO _ O JEITO MAIS FÁCIL QUE VOCÊ JÁ VIU!.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Educação Física para o ENEM, o professor aborda a importância da atividade física para a saúde e o bem-estar. Ele discute os benefícios da prática regular de exercícios, incluindo melhorias na condição física, na saúde mental e na prevenção de doenças.
                A aula também explora diferentes modalidades esportivas, ressaltando como cada uma contribui para o desenvolvimento de habilidades motoras e sociais.
                O professor fala sobre a importância do trabalho em equipe e da disciplina, características que podem ser aprendidas através do esporte.
            </p>

            <h3 style="margin-top:30px;">Geometria</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/O QUE VAI CAIR DE GEOMETRIA ESPACIAL NO ENEM _ NA PRÁTICA.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Inglês para o ENEM, o professor aborda aspectos essenciais da língua, com foco na compreensão de textos e na gramática. Ele inicia com dicas para melhorar a leitura, enfatizando a importância de identificar a ideia principal, vocabulário e inferências a partir do contexto.
                O professor também discute os diferentes tipos de textos que podem aparecer na prova, como narrativas, artigos de opinião e textos informativos, e como abordá-los de forma eficaz.
                Em relação à gramática, ele revisa tópicos fundamentais, como tempos verbais, preposições e concordância verbal, oferecendo exemplos práticos.
            </p>

            <h3 style="margin-top:30px;">Teorema de Pitagoras</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/TeoremadePitagoras.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Espanhol para o ENEM, o professor aborda aspectos fundamentais da língua, com foco na compreensão de textos e na gramática. Ele começa explicando a importância da leitura e interpretação de diferentes tipos de textos, como contos, artigos e diálogos, destacando a identificação de ideias principais e vocabulário relevante.
                O professor também revisa tópicos gramaticais essenciais, como os tempos verbais, a conjugação de verbos e o uso de pronomes, oferecendo exemplos práticos para facilitar a compreensão. Além disso, discute a importância do contexto cultural nos textos, relacionando a língua com aspectos da cultura hispano-americana.
            </p>

            <h3 style="margin-top:30px;">Equações</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/Equacoes.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Espanhol para o ENEM, o professor aborda aspectos fundamentais da língua, com foco na compreensão de textos e na gramática. Ele começa explicando a importância da leitura e interpretação de diferentes tipos de textos, como contos, artigos e diálogos, destacando a identificação de ideias principais e vocabulário relevante.
                O professor também revisa tópicos gramaticais essenciais, como os tempos verbais, a conjugação de verbos e o uso de pronomes, oferecendo exemplos práticos para facilitar a compreensão. Além disso, discute a importância do contexto cultural nos textos, relacionando a língua com aspectos da cultura hispano-americana.
            </p>

            <h3 style="margin-top:30px;">Matriz</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/Matriz.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Espanhol para o ENEM, o professor aborda aspectos fundamentais da língua, com foco na compreensão de textos e na gramática. Ele começa explicando a importância da leitura e interpretação de diferentes tipos de textos, como contos, artigos e diálogos, destacando a identificação de ideias principais e vocabulário relevante.
                O professor também revisa tópicos gramaticais essenciais, como os tempos verbais, a conjugação de verbos e o uso de pronomes, oferecendo exemplos práticos para facilitar a compreensão. Além disso, discute a importância do contexto cultural nos textos, relacionando a língua com aspectos da cultura hispano-americana.
            </p>

            <h3 style="margin-top:30px;">Resolução de questões</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Exatas/Questoesmaisacertadas.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Espanhol para o ENEM, o professor aborda aspectos fundamentais da língua, com foco na compreensão de textos e na gramática. Ele começa explicando a importância da leitura e interpretação de diferentes tipos de textos, como contos, artigos e diálogos, destacando a identificação de ideias principais e vocabulário relevante.
                O professor também revisa tópicos gramaticais essenciais, como os tempos verbais, a conjugação de verbos e o uso de pronomes, oferecendo exemplos práticos para facilitar a compreensão. Além disso, discute a importância do contexto cultural nos textos, relacionando a língua com aspectos da cultura hispano-americana.
            </p>
        </div>
    </div>


    @***********************************  HUMANAS **********************************************@
    <div class="accordion-item" style="background-color:#ffde59; margin-top:5px;  width:100%;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                HUMANAS
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align:center;">
            <h3 style="margin-top:30px;">História</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/historia.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de História para o ENEM, o professor explora os principais eventos e processos históricos que moldaram o mundo. Ele começa com uma introdução aos períodos históricos, como a Idade Antiga, Idade Média,
                Idade Moderna e Idade Contemporânea, destacando suas características e transformações sociais, políticas e econômicas.
                O professor discute temas relevantes, como as revoluções (Industrial, Francesa e Americana), a colonização e a descolonização, além de movimentos sociais e direitos humanos. Ele enfatiza a importância de compreender o
                contexto histórico para interpretar os acontecimentos e suas repercussões na sociedade atual.
            </p>

            <h3 style="margin-top:30px;">Filosofia</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/filosofia.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Filosofia para o ENEM, o professor aborda conceitos fundamentais da disciplina, destacando a importância do pensamento crítico e da reflexão. Ele inicia com uma introdução à história da Filosofia,
                apresentando os principais filósofos e suas contribuições, desde os pré-socráticos até os pensadores contemporâneos.
                O professor discute temas centrais, como ética, política, conhecimento e estética, explicando como esses conceitos se inter-relacionam e influenciam a sociedade. Ele também analisa algumas correntes filosóficas,
                como o racionalismo, empirismo e existencialismo, proporcionando exemplos práticos que ajudam na compreensão.
            </p>

            <h3 style="margin-top:30px;">Sociologia</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/sociologia.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Sociologia para o ENEM, o professor explora os principais conceitos e teorias da disciplina, enfatizando a importância da análise crítica da sociedade. Ele inicia apresentando os fundamentos da Sociologia,
                incluindo definições e o papel do sociólogo na compreensão das dinâmicas sociais.
                O professor discute temas centrais, como cultura, identidade, classe social, e poder, destacando como esses elementos influenciam as relações sociais. Ele também aborda os principais teóricos, como Karl Marx,
                Émile Durkheim e Max Weber, explicando suas contribuições e como suas ideias se aplicam ao mundo contemporâneo.
            </p>

            <h3 style="margin-top:30px;">Cartografia</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/cartografia.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula de Cartografia para o ENEM, o professor aborda os principais conceitos e técnicas relacionadas à elaboração e interpretação de mapas. Ele começa explicando a importância da cartografia
                na representação do espaço geográfico e na compreensão de fenômenos sociais, econômicos e ambientais.
            </p>

            <h3 style="margin-top:30px;">Clima</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/clima.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Clima para o ENEM, o professor explora os principais conceitos relacionados à climatologia, destacando a diferença entre clima e tempo atmosférico.
                Ele inicia explicando os fatores que influenciam o clima, como latitude, altitude, correntes marítimas e vegetação.
            </p>

            <h3 style="margin-top:30px;">Energia não renovável</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/energianaorenovavel.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Energia Não Renovável para o ENEM, o professor aborda as principais fontes de energia não renováveis, como petróleo, carvão e gás natural. Ele explica como essas fontes são extraídas e utilizadas,
                destacando suas vantagens, como eficiência e custo, e suas desvantagens, incluindo poluição e impactos ambientais.
            </p>

            <h3 style="margin-top:30px;">Energia renovável</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/energiarenovavel.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Energia Renovável para o ENEM, o professor explora os principais tipos de fontes de energia renováveis, como solar, eólica, hídrica, biomassa e geotérmica. Ele começa explicando como cada uma dessas fontes
                funciona e suas vantagens, como a redução de emissões de gases de efeito estufa e a sustentabilidade.
            </p>

            <h3 style="margin-top:30px;">Globalização</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/globalização.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Globalização para o ENEM, o professor explora o conceito de globalização, explicando como se refere à interconexão crescente entre países em diversas áreas, como economia, cultura, política e tecnologia.
                Ele discute as causas da globalização, incluindo avanços tecnológicos e a liberalização do comércio.
            </p>

            <h3 style="margin-top:30px;">Movimentos da terra</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/movimentosdaterra.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre os Movimentos da Terra para o ENEM, o professor explica os principais movimentos que a Terra realiza: a rotação e a translação. Ele começa com a rotação, que é o movimento da Terra em torno de seu próprio eixo,
                destacando sua duração de aproximadamente 24 horas e suas consequências, como a alternância entre dia e noite.
            </p>

            <h3 style="margin-top:30px;">Dicas para a prova de humanas</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Humanas/dicas.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula para se preparar para a prova de Humanas, é essencial ler as questões com atenção e dedicar-se à interpretação dos textos, pois muitas perguntas exigem uma compreensão crítica. Foque nos temas recorrentes nas provas,
                como globalização, cidadania, direitos humanos, movimentos sociais e história do Brasil.
                Revise os principais conceitos de História, Geografia, Sociologia e Filosofia, fazendo uma lista que possa ser consultada regularmente.
            </p>
        </div>
    </div>




    @***********************************  NATUREZA **********************************************@
    <div class="accordion-item" style="background-color:#ffde59; margin-top:5px;  width:100%;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                NATUREZA
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align:center;">
            <h3 style="margin-top:30px;">Doenças</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/AS DOENÇAS QUE MAIS CAEM NO ENEM - Biologia - Prof. Paulo Jubilut.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Doenças, o professor aborda os principais tipos de doenças e suas características. Ele começa explicando a diferença entre doenças infecciosas e não infecciosas.
                A aula inclui discussões sobre a saúde pública, enfatizando a importância da conscientização e educação para a prevenção. O professor conclui com dicas sobre como adotar hábitos saudáveis
                e a importância do acompanhamento médico regular.
            </p>

            <h3 style="margin-top:30px;">Ecologia</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/Como ECOLOGIA é cobrada no ENEM _ Prof. Paulo Jubilut.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Ecologia, o professor explora os conceitos fundamentais relacionados aos ecossistemas e às interações
                entre os seres vivos e o meio ambiente. Ele inicia definindo ecologia e suas subdivisões, como a ecologia de populações, comunidades e ecossistemas.
            </p>

            <h3 style="margin-top:30px;">Doenças causadas por bactérias</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/Doenças causadas por BACTÉRIAS que mais caem no ENEM _ Prof. Paulo Jubilut.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Doenças Causadas por Bactérias, o professor aborda as principais infecções bacterianas e suas características.
                Ele começa explicando o que são bactérias patogênicas e como elas podem causar doenças no ser humano.
                A aula também destaca a importância do diagnóstico precoce e do tratamento adequado, com ênfase no uso de antibióticos e na crescente preocupação com a resistência bacteriana.
                O professor reforça a necessidade de práticas de higiene, vacinação e cuidados com a saúde para prevenir infecções bacterianas.
            </p>

            <h3 style="margin-top:30px;">Vacinação</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/Vacinação, Saúde Pública e Liberdade de Escolha.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre Vacinação, o professor explora a importância das vacinas na prevenção de doenças infecciosas. Ele começa explicando como as vacinas funcionam,
                introduzindo antígenos que estimulam o sistema imunológico a produzir uma resposta sem causar a doença.
            </p>

            <h3 style="margin-top:30px;">Reino Fungi</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/REINO FUNGI_ Tudo sobre FUNGOS pra você detonar na prova.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                O Reino Fungi, ou fungos, é um dos principais grupos de organismos e inclui organismos como bolores, leveduras e cogumelos. Os fungos são eucariotos, o que significa que suas células possuem núcleo definido,
                e são heterotróficos, ou seja, não produzem seu próprio alimento, mas obtêm nutrientes de outros organismos.
            </p>

            <h3 style="margin-top:30px;">Sistema Digestória</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/SISTEMA DIGESTÓRIO_ Intestinos _ AULA 5.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                O sistema digestório é responsável pela ingestão, digestão e absorção de alimentos, além da eliminação de resíduos. O processo começa na boca, onde os alimentos são mastigados e misturados à saliva.
                Em seguida, o bolo alimentar passa pelo esôfago e chega ao estômago, onde é misturado com ácidos e enzimas.
                O quimo resultante é enviado para o intestino delgado, onde ocorre a maior parte da digestão e absorção de nutrientes, com a ajuda de enzimas do pâncreas e bile do fígado.
                O que não é absorvido vai para o intestino grosso, onde água e sais são reabsorvidos, formando as fezes. Finalmente, as fezes são eliminadas pelo reto e ânus.
            </p>

            <h3 style="margin-top:30px;">Método Científico</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/Entenda de uma vez por todas o MÉTODO CIENTÍFICO _ Prof. Paulo Jubilut.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre o Método Científico, o professor explora o processo sistemático utilizado para investigar fenômenos e adquirir novos conhecimentos.
                Ele inicia explicando a importância da observação inicial, que leva à formulação de perguntas sobre o que foi observado. Em seguida, o professor discute a criação de uma hipótese, que é uma explicação preliminar que pode ser testada.
                O foco então se volta para a realização de experimentos controlados, onde os alunos aprendem como coletar dados e observar resultados.
            </p>

            <h3 style="margin-top:30px;">Cadeia Alimentar</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/Cadeiaalimentar.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre cadeia alimentar, o professor explica como a energia e os nutrientes se movem através dos ecossistemas, começando com os produtores, passando pelos consumidores e chegando aos decompositores, destacando a interdependência entre os organismos.
            </p>

            <h3 style="margin-top:30px;">Aquecimento Global e Mudanças Climáticas</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/Aquecimento Global e Mudanças Climáticas.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre aquecimento global e mudanças climáticas, o professor explica como o aumento das emissões de gases de efeito estufa, resultantes de atividades humanas como a queima de combustíveis fósseis e desmatamento, está elevando a temperatura média da Terra.
                Ele aborda as consequências desse fenômeno, que incluem alterações nos padrões climáticos, aumento do nível do mar e maior frequência de eventos climáticos extremos, como furacões e secas.
                O professor destaca a importância da conscientização sobre os impactos do aquecimento global na biodiversidade, na saúde humana e na economia.
            </p>

            <h3 style="margin-top:30px;">Termoquímica</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/REVISÃO ENEM _ QUÍMICA_ TERMOQUÍMICA _ ESQUENTA ENEM _ DESCOMPLICA.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre termoquímica, o professor explora os princípios fundamentais que governam as trocas de energia durante reações químicas. Ele explica conceitos como entalpia, que mede a quantidade de energia em um sistema,
                e a diferença entre reações endotérmicas e exotérmicas, destacando exemplos práticos de cada uma.
                O professor também aborda a importância da lei da conservação da energia, que afirma que a energia não pode ser criada ou destruída, apenas transformada.
            </p>

            <h3 style="margin-top:30px;">Estequiometria</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/REVISÃO ENEM _ QUÍMICA_ ESTEQUIOMETRIA _ ESQUENTA ENEM _ DESCOMPLICA.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre estequiometria, o professor introduz os conceitos fundamentais que regem as relações quantitativas nas reações químicas. Ele explica como usar as equações balanceadas para determinar a quantidade de reagentes
                e produtos envolvidos em uma reação, enfatizando a importância da conservação da massa.
                O professor também aborda a conversão entre moles, massa e volume, utilizando exemplos práticos para facilitar a compreensão.
            </p>

            <h3 style="margin-top:30px;">Equilíbrio Iônico</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/EQUILÍBRIO IÔNICO _ RESUMO.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre equilíbrio iônico, o professor explora os conceitos fundamentais que regem as interações entre íons em solução aquosa. Ele começa explicando o que são soluções eletrolíticas e como os íons se dissociam em água,
                abordando o conceito de força iônica e seu impacto nas propriedades das soluções.
                O professor discute também o equilíbrio entre íons, incluindo a constante de equilíbrio e como ela se relaciona com a solubilidade de compostos iônicos.
            </p>

            <h3 style="margin-top:30px;">Cinética</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/#REVISÃOENEM _ CINÉTICA QUÍMICA em 30 minutos.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre cinética química, o professor aborda os fatores que influenciam a velocidade das reações químicas, como a concentração dos reagentes, a temperatura e a presença de catalisadores.
                Ele explica os conceitos de teoria das colisões e energia de ativação, destacando como a frequência e a energia das colisões entre partículas afetam a taxa de reação.
                O professor também discute diferentes ordens de reação e como essas ordens podem ser determinadas experimentalmente.
            </p>

            <h3 style="margin-top:30px;">Eletrodinâmica</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/ELETRODINÂMICA_ RESUMO DE FÍSICA PARA O ENCCEJA _ DESCOMPLICA.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre eletrodinâmica, o professor explora os princípios fundamentais que regem o comportamento das cargas elétricas em movimento. Ele começa discutindo a lei de Coulomb e a relação entre força elétrica e distância,
                antes de abordar a corrente elétrica, a tensão e a resistência, definindo a Lei de Ohm.
                O professor explica também como calcular a potência elétrica e discute circuitos em série e em paralelo, ilustrando as diferenças no comportamento das correntes e tensões.
            </p>

            <h3 style="margin-top:30px;">Corrente elétrica</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/CORRENTE ELÉTRICA _ QUER QUE DESENHE _ DESCOMPLICA.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre corrente elétrica, o professor introduz os conceitos básicos que envolvem o fluxo de carga elétrica em um circuito. Ele explica o que é corrente elétrica, destacando a diferença entre corrente contínua (CC) e corrente alternada (CA), e aborda as unidades de medida, como ampères.
                O professor discute a relação entre corrente, tensão e resistência por meio da Lei de Ohm, além de ilustrar como esses elementos interagem em circuitos simples. Exemplos práticos são apresentados para demonstrar como calcular a corrente em diferentes configurações de circuito, como em série e em paralelo.
            </p>

            <h3 style="margin-top:30px;">Energia</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Natureza/AO VIVO _ MACETES PARA RESOLVER EXERCÍCIOS DE ENERGIA PARA O ENEM _ DESCOMPLICA.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Nesta vídeo aula sobre energia, o professor explora os diferentes tipos de energia, incluindo cinética, potencial, térmica, elétrica e química, explicando como cada uma se manifesta e se transforma em diversas situações. Ele discute o princípio da conservação da energia, que afirma que a energia não pode ser criada ou destruída,
                apenas transformada de uma forma para outra. O professor também aborda a relação entre trabalho e energia, ilustrando como o trabalho realizado sobre um objeto pode alterar sua energia cinética ou potencial.
            </p>
        </div>
    </div>

    @***********************************  REDAÇÃO **********************************************@
    <div class="accordion-item" style="background-color:#ffde59; margin-top:5px;  width:100%;">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" style="background-color: #feffe1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                REDAÇÃO
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align:center;">
            <h3 style="margin-top:30px;">Compentências da Redação</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Redação/Competencias.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Na videoaula sobre as competências da redação, a professora discute aspectos fundamentais para uma escrita eficaz. E as competências da redação que são:
                C1 - Domínio da escrita formal da Língua Portuguesa.
                C2 – Compreender o tema e não fugir da proposta da redação do Enem. C3 – Organização das ideias.
                C4 – Coesão e coerência na redação do enem. C5 – Proposta de Intervenção.
            </p>

            <h3 style="margin-top:30px;">Estratégias argumentativas</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Redação/ESTRATÉGIAS ARGUMENTATIVAS PARA A REDAÇÃO DO ENEM - Débora Aladim.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Na videoaula sobre estratégias argumentativas de redação, a professora destaca a importância de ter uma tese clara que oriente o texto.
                Ele fala sobre diferentes tipos de argumentos, como dados e exemplos, que aumentam a credibilidade.
                Também enfatiza a necessidade de considerar e refutar contra-argumentos para fortalecer a posição.
                A organização lógica das ideias e o uso de conectivos são abordados, assim como a aplicação de linguagem persuasiva e recursos retóricos, como metáforas.
            </p>

            <h3 style="margin-top:30px;">Como escrever a redação mais rápido</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Redação/COMO ESCREVER A REDAÇÃO DO ENEM MAIS RÁPIDO - Débora Aladim.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Na videoaula sobre como escrever redação rapidamente, o professor compartilha técnicas práticas para otimizar o processo de escrita.
                Ele sugere começar com um planejamento eficiente, criando um esboço que organize as ideias principais e a estrutura do texto.
                O uso de uma frase de tese clara desde o início é destacado como fundamental para guiar a redação.
            </p>

            <h3 style="margin-top:30px;">Citações filosóficas</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Redação/50 CITAÇÕES FILOSÓFICAS PARA COLOCAR NA REDAÇÃO DO ENEM - Débora Aladim (1).mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Na videoaula sobre citações filosóficas, o professor explora a importância e o impacto das ideias de pensadores ao longo da história.
                Ele apresenta diversas citações que refletem conceitos centrais da filosofia, como a busca pela verdade, a ética e a natureza do conhecimento.
            </p>

            <h3 style="margin-top:30px;">10 coisas que você não deve fazer</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Redação/10 coisas que você NÃO DEVE fazer na Redação do ENEM - Débora Aladim.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Na videoaula sobre "10 coisas que você não deve fazer ao escrever uma redação", a professora lista erros comuns a evitar.
                É crucial também cuidar da gramática e ortografia, já que erros prejudicam a credibilidade. Repertórios repetitivos e falta de coesão.
                Usar jargões sem explicação e não revisar o texto são armadilhas a evitar.
            </p>

            <h3 style="margin-top:30px;">Analisando Redação</h3>
            <video style="margin-left:10px;" width="560" height="315" controls>
                <source src="img/Redação/lerecomentarredação.mp4" type="video/mp4">
            </video>
            <p style=" padding:30px;">
                Na videoaula sobre análise de redação, a professora apresenta uma abordagem sistemática para avaliar textos.
                A professora utiliza exemplos de redações para demonstrar como identificar pontos fortes e fracos. Ela destaca a importância de uma introdução impactante e de uma conclusão que sintetize os principais argumentos.
                Durante a análise, ela também fala sobre a relevância de usar evidências e exemplos concretos para fortalecer a argumentação.
            </p>

        </div>
    </div>



</div>