@{
    ViewData["Title"] = "Beeflix";
}
<body class="bodymapa" style=" margin-bottom: 150px;">
        



        <h1 style="color:#FFBA00;text-align:center; font-weight:70; margin-top: 70px; font-size: 80px;">MAPAS MENTAIS</h1>


        <h4 class="textomapas">LINGUAGENS</h4>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/modernismo.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/modernismo.jpg download><button class="buttonmapas">Baixar Imagem</button></a>


                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/arcadismo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/arcadismo.png" download><button class="buttonmapas">Baixar Imagem</button></a>


                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/realismo.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/realismo" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/quinhentismo.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/quinhentismo.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>


        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/artesvisuais.webp" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/artesvisuais.webp" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/barroco.webp" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/barroco.webp" download><button class="buttonmapas">Baixar Imagem</button></a>


                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/classesgramaticais.webp" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/classesgramaticais.webp" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/condicionamentofisico.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/condicionamentofisico.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


        </div>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/escolasliterarias.jpeg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/escolasliterarias.jpeg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/ferreiragullar.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/ferreiragullar.png" download><button class="buttonmapas">Baixar Imagem</button></a>


                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/figurasdelinguagens.jpeg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/figurasdelinguagens.jpeg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/funcoesdalinguagem.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/funcoesdalinguagem.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


        </div>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/gonçalvesDias.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/gonçalvesDias.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/grafite.jpeg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/grafite.jpeg" download><button class="buttonmapas">Baixar Imagem</button></a>


                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/hiphop.jpeg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/hiphop.jpeg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/iluminista.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/iluminista.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


        </div>















        <h4 class="textomapas">HISTÓRIA</h4>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/1guerra.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/1guerra.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/2guerra.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/2guerra.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/1reinado.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/1reinado.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/2reinado.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/2reinado.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>
        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/1revoluçaoindustrial.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/1revoluçaoindustrial.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/2revolucaoindustrial.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/2revolucaoindustrial.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/3revoluçaoindustrial.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/3revoluçaoindustrial.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/absolutismo.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/absolutismo.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>
        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/anosjk.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/anosjk.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/canudos.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/canudos.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/economiacolonial.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/economiacolonial.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/era napoleonica.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/era napoleonica.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/eravargas.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/eravargas.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/evolucaohumana.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/evolucaohumana.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/feudalismo.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/feudalismo.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/guerrafria.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/guerrafria.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/idadeantiga.webp" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/idadeantiga.webp" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/idademedia.jpeg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/idademedia.jpeg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/idademoderna.jpg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/idademoderna.jpg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/idadecontemporanea.jpeg" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/idadecontemporanea.jpeg" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>










        <h4 class="textomapas">NATUREZA</h4>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>


        <h4 class="textomapas">EXATAS</h4>

        <div class="alinhamapas btn-group">

            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>

            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>


            <div class="cardmapas">
                <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
                <div class="card-body">
                    <p class="card-title" style="text-align:center; color:black">1964: O Brasil entre armas e lutas completo dublado </p>
                    <a href="~/Img/A teoria de Tudo.png" download><button class="buttonmapas">Baixar Imagem</button></a>

                </div>
            </div>
        </div>

    
</body>
