<h1 style="color:#FFBA00;text-align:center; font-weight:70; margin-top: 70px; font-size: 80px;">MAPAS MENTAIS</h1>

<h4 style="text-align:center">LINGUAGENS</h4>

<div class="containermapa">
    <div class="cardmapa">
        <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
        <a href="~/Img/A teoria de Tudo.png" download><button>Baixar Imagem</button></a>

    </div>

    <div class="cardmapa">
        <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
        <a href="~/Img/A teoria de Tudo.png" download><button>Baixar Imagem</button></a>
    </div>

    <div class="cardmapa">
        <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
        <a href="~/Img/A teoria de Tudo.png" download><button>Baixar Imagem</button></a>
    </div>
    <div class="cardmapa">
        <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
        <a href="~/Img/A teoria de Tudo.png" download><button>Baixar Imagem</button></a>
    </div>
    <div class="cardmapa">
        <img class="mapas" src="~/Img/A teoria de Tudo.png" alt="Filme 1">
        <a href="~/Img/A teoria de Tudo.png" download><button>Baixar Imagem</button></a>
    </div>
</div>